
.btn {
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
  border: 0;
  border-radius: $spacing-lg;
  font-weight: 600;
  margin-right: $spacing;
  width: auto;
  padding: $spacing $spacing-lg;
  margin-bottom: $spacing-xs;
  &.btn-primary {
    background: $ak-btn-primary;
    color: $white !important;
    &:hover {
      background: $gray-700;
    }
  }
  &.form-control{
    line-height: 2.58;
    width: fit-content;
  } 
  &.btn-secondary {
    background: $ak-btn-secondary;
    color: $black !important;
    &:hover {
      background: $gray-700;
    }
  }
  &.btn-outline-secondary {
    background: $white;
    color: $ak-color-main !important;
    border: 1px solid $ak-color-main !important;
    &:hover {
      background: $ak-color-main;
      color: $white !important;
    }
  }
  &.btn-outline-alternate {
    background: $white;
    color: $ak-green !important;
    border: 1px solid $ak-green !important;
    &:hover {
      background: $ak-green;
      color: $white !important;
    }
  }
  &.btn-pink {
    background: $ak-color-main !important;
    color: $white;
    &:hover {
      background: $ak-purple !important;
      color: $white !important;
    }
  }
  &.btn-purple {
    background: $ak-color-secondary !important;
    color: $white;
    &:hover {
      background: $ak-color-main !important;
      color: $white !important;
    }
  }
  &.btn-green {
    background: $ak-green !important;
    color: $white;
    &:hover {
      background: $ak-color-alternate !important;
      color: $white !important;
    }
  }
}

.ak-choices-bg {
  padding: $spacing-md $spacing-xl;
  background: $gray-100;
  border-radius: $form-radius;
  .heading-choices {
    font-weight:  bold;
  }
}


.ak-btn-signin {
  height: 45px;
  position: relative;
  padding: $spacing $spacing-md;
  &:before {
    content: "";
    width: 28px;
    height: 28px;
    display: inline-block;
    margin-right: $spacing-xs;
    margin-bottom: -8px;
    left: $spacing;
    background-color: transparent;
    background-position : center center;
    background-repeat:no-repeat;
    background-image : url(../img/icons/ak-iconBadge.svg);
    @include media-breakpoint-down(md) {
      margin-right: 0;
      height: 32px;
    }
  }
  @include media-breakpoint-down(lg) {
    padding: $spacing-xs 8px;
    min-width: 45px;
    width: 45px;
  }
  .ak-btn-text {
    display: inline-block;
  }
}

.ak-btn-subscribe {
  height: 45px;
  position: relative;
  padding: $spacing $spacing-md;
  &:before {
    content: "";
    width: 32px;
    height: 28px;
    display: inline-block;
    margin-right: $spacing-xs;
    margin-bottom: -8px;
    left: $spacing;
    background-color: transparent;
    background-position : center center;
    background-repeat:no-repeat;
    background-image : url(../img/icons/ak-iconSmile.svg);
    @include media-breakpoint-down(md) {
      margin-right: 0;
      height: 32px;
    }
  }
  @include media-breakpoint-down(lg) {
    padding: $spacing-xs 8px;
    min-width: 45px;
    width: 45px;
  }
  .ak-btn-text {
    display: inline-block;
  }
}

.ak-review-cards {
  .ak-review-card {
    background: $white;
    box-shadow: $box-shadow;
    padding: $spacing-xl;
    margin: $spacing-xl 0;
    border-radius: $card-radius;
    width: 100%;
    &:nth-child(2) {
      margin-left: -45px;
      @include media-breakpoint-down(xs) {
        margin-left: auto;
      }
    }
    @include media-breakpoint-down(xs) {
      padding: $spacing-lg $spacing-sm;
    }
    .ak-reviewer {
      display: inline-block;
      color: $ak-green;
      font-weight: 700;
      margin-right: $spacing;
    }
    .ak-review-date {
      display: inline-block;
    }
    .ak-review-stars {
      float: right;
      .fa-star:before {
          color: $ak-green;
      }
      @include media-breakpoint-down(xs) {
        float: left;
        margin-top: $spacing;
      }
    }
  }
}

.ak-page-reviews {
  .ak-review-block {
      width: 60%;
      @include media-breakpoint-down(sm) {
          width: 90%;
      }
  }
}
.ak-google-map {
  overflow: hidden;
  padding-bottom: 30%;
  position: relative;
  height: 0;
  iframe{
    left: 0;
    top: 0;
    height:100%;
    width: 100%;
    position: absolute;
  }
}

.zindex-top {
  z-index: 3;
}

.ak-why-packages {
  background-color: $ak-accent-color2;
  position: relative;
  margin-top: 150px;
  .ak-why-package-tilt {
    position: absolute;
    top: -120px;

  }
}

.ak-bg-green-tilt {
  background-image: url(../img/ak-bg-green-tilt.svg);
  background-repeat: no-repeat;
  background-position: center -200px;
  background-size: contain;
}


.ak-ring-bg {
  background-image: url(../img/ak-home-intro-ring-bg.svg);
  background-repeat: no-repeat;
  background-position: -10% center;
  background-size: contain;
}



section {
  padding: 100px 0;
  &.ak-search {
    padding: 0;
  }
  &.ak-intro {
    background-image: url(../img/ak-home-intro-ring-bg.svg);
    background-repeat: no-repeat;
    background-position: -10% center;
    background-size: contain;
    .ak-intro-block {
      padding-bottom: $spacing-xl;
    }
    .ak-intro-services {
      .card {
        background: none;
        border: 0;
        position: relative;
        margin: $spacing-xl 0;
        padding: 0;
        box-shadow: initial;
        .card-title {
          position: absolute;
          top: 20%;
          color: $white;
          z-index: 999;
          width: 100%;
        }
        .card-image {
          overflow: visible;
          -webkit-transform-style: preserve-3d;
          -moz-transform-style: preserve-3d;
          -ms-transform-style: preserve-3d;
          -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
          img {
            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -ms-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
          }
          &:hover {
            img {
              -webkit-transform: scale(1.2) rotate(-7deg);
              -moz-transform: scale(1.2) rotate(-7deg);
              -ms-transform: scale(1.2) rotate(-7deg);
              -o-transform: scale(1.2) rotate(-7deg);
              transform: scale(1.2) rotate(-7deg);
            }
          }
        }
      }
    }
  }
  &.ak-why {
    @include media-breakpoint-down(xs) {
      padding-bottom: $spacing-sm;
    }
    .swiper-wrapper {
      margin-bottom: $spacing-max;
      .ak-why-block {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: $spacing-max $spacing-sm;
        transform: rotate(-5deg);
        &:nth-child(odd){
          transform: rotate(5deg);
        }
        .ak-why-card {
          border: 0;
          box-shadow: $box-shadow;
          background-color: $ak-accent-color2;
          border-radius: $card-radius;
          min-height: 250px;
          padding: $spacing-sm;
          width: 250px;
          .ak-why-icon {
            position: absolute;
            top: -$spacing-xl;
            left: 50%;
            max-width: 100px;
            -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
          }
          .card-text {
            font-size: $spacing-md;
            font-weight: 600;
            padding: $spacing-md $spacing-sm;
          }
        }
      }
    }  
  }
  &.ak-label {
    background-image: url(../img/atoukids-label-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 600px;
    @include media-breakpoint-down(sm) {
      background-size: 160%;
      min-height: auto;
      padding: $spacing-max 0;
    }
    @include media-breakpoint-down(xs) {
      background-size: 200%;
    }
    .ak-label-button {
      margin-top: 300px;
    }
  }
  &.ak-reviews {
    background: $ak-accent-color2 url(../img/atoukids-reviews-bg.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    .ak-review-signup {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      padding: 0 $spacing-max;
      text-align: center;
      margin: -100px 0 0 $spacing-xxl;
      @include media-breakpoint-down(xs) {
        margin: $spacing-max 0;
      }
    }
    h2 {
      text-align: center;
    }
    @include media-breakpoint-down(xs) {
      background-position: bottom right;
    }
    .ak-review-card {
      width: 100%;
      &:nth-child(2) {
        margin-left: -45px;
      }
      @include media-breakpoint-down(sm) {
        padding: $spacing-sm;
        &:nth-child(2) {
          margin-left: 0;
        }
      }
      @include media-breakpoint-down(xs) {
        margin: $spacing 0;
        &:not(:first-child) {
          display: none;
        }
      }
    }
  }
  &.ak-who {
    background: $white url(../img/atoukids-home-pro-cards.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .swiper-wrapper {
      margin-bottom: $spacing-max;
      width: 100%;
      background-color: $white;
      .ak-who-block {
        width: 40%;
        text-align: left;
        &.swiper-slide {
          opacity: 0;
          &.swiper-slide-visible {
            opacity: 1;
          }
        }

        
        @include media-breakpoint-down(sm) {
          width: 50%;
        }
        @include media-breakpoint-down(xs) {
          width: 90%;
        }
      }
    }
  }
  &.ak-packages {
    @include media-breakpoint-down(xs) {
      padding-bottom: $spacing-sm;
    }
    .price-heading {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;
      text-transform: uppercase;
      &:before {
        content: '';
        border-top: 1px solid $ak-green;
        margin: 0 $spacing-md 0 0;
        flex: 1 0 $spacing-md;
      }
      &:after {
        content: '';
        border-top: 1px solid $ak-green;
        margin: 0 $spacing-md 0 0;
        flex: 1 0 $spacing-md;
        margin: 0 0 0 $spacing-md;
      }
    }
    .ak-package-card {
      border: 0;
      box-shadow: $box-shadow;
      background-color: $ak-accent-color2;
      border-radius: $card-radius;
      position: relative;
      padding: $spacing-md $spacing-md 0 $spacing-md;
      margin-bottom: $spacing-lg;
      .card-heading {
        padding: $spacing-xs 0 $spacing-lg;
      }
      &.special-offer {
        background: $ak-green-hover;
        h2 {
          color: $white;
        }
        p {
          color: $white;
        }
      }
      .ak-package-icon {
        max-width: 100px;
      }
      .ak-package-cta {
        margin-bottom: -$spacing-md;
        .ak-add-button {
          padding: $spacing-sm $spacing-md;
        }
      }
    }  
  }
  &.ak-blogs {
    background: $ak-accent-color2;
  }
  &.ak-youthlib {
    background: $white;
    &.ak-youth-library {
      padding-top: 100px;
    }
  }
  &.ak-call-to-action {
    padding: $spacing-md 0;
    background: $ak-green url(../img/atoukids-signup-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    p {
      color: $white;
      margin: 0;
    }
    &.family-cta {
      background-color: $ak-pink;
    }
  }
  &.ak-login {
    background: $ak-accent-color2 url(../img/atoukids-bg-dots.svg);
    .ak-login-card {
      @include media-breakpoint-down(xs) {
        padding: $spacing;
      }
      h3 {
        color: $ak-green;
      }
      .ak-form-footer {
        a {
          color: $gray-500;
        }
      }
    }
  }
  &.ak-youth-library {
    padding-top: $spacing;
  }
  &.ak-youth-library-post {
    padding: $spacing 0 0;
    .ak-youthlib-meta {
      h4 {
        a {
          color: $ak-green;
        }
      }
      p {
        margin: 0;
      }
      @include media-breakpoint-down(xs) {
        .ak-social-link {
          .share-icon-text {
            display: block;
          }
        }
      } 
    }
    blockquote {
      font-size: 1.4em;
      margin: $spacing-xxl auto;
      padding: $spacing-xl $spacing $spacing-sm $spacing-max;
      border-left: $spacing solid $ak-green;
      position: relative;
      background: $gray-100;
      &::before {
        font-family: Arial;
        content: "\201C";
        color: $ak-green;
        font-size: 4em;
        position: absolute;
        left: $spacing;
        top: -$spacing;
      }
      &::after {
        content: '';
      }
      span {
        display: block;
        font-style: normal;
        font-weight: bold;
        margin-top: 1em;
      }
    }
    
  }
  &.ak-blog-list {
    padding-top: $spacing;
  }
  &.ak-blog-post {
    padding-top: $spacing;
    blockquote {
      font-size: 1.4em;
      margin: $spacing-xxl auto;
      padding: $spacing-xl $spacing $spacing-sm $spacing-max;
      border-left: $spacing solid $ak-green;
      position: relative;
      background: $gray-100;
      &::before {
        font-family: Arial;
        content: "\201C";
        color: $ak-green;
        font-size: 4em;
        position: absolute;
        left: $spacing;
        top: -$spacing;
      }
      &::after {
        content: '';
      }
      span {
        display: block;
        font-style: normal;
        font-weight: bold;
        margin-top: 1em;
      }
    }
    
  }
  &.ak-page {
    padding: $spacing 0 0;
  }
  &.ak-choose-package {
    padding: $spacing 0 0;
    &.childcare-package {
      .ak-package-card {
        background: $ak-accent-color3 !important;
      }
    }
    &.health-package {
      .ak-package-card {
        background: $ak-accent-color-purple !important;
      }
    }
    .ak-package-card {
      box-shadow: none;
      .ak-package-option {
        font-size: $spacing-sm;
        margin-bottom: $spacing-xs;
      }
    }
  }
}

.search-results {
  position: relative;
    -webkit-filter: blur($spacing);
    -moz-filter: blur($spacing-xs);
    -o-filter: blur($spacing-xs);
    -ms-filter: blur($spacing-xs);
    filter: blur($spacing-xs);
    opacity: 0.85;
}




.ak-footer{
  box-shadow: 0 0 $spacing-xs 0 rgba(0,40,86,.1);
  .ak-footer-main {
    padding: $spacing-xl 0;
    ul {
      list-style: none;
    }
    a {
      color: $black;
    }
    .footer-menus {
      padding: $spacing-lg;
      @include media-breakpoint-up(md) {
        border-right: 1px solid $gray-300;
        border-left: 1px solid $gray-300;
      }
    }
  }
}

.card {
  box-shadow: $box-shadow;
  border: 0;
  border-radius: $card-radius;
  padding: $spacing-md;
  background: $white;
  .card-header {
    border: 0;
    background: none;
    padding: $spacing-sm;
  }
  .card-body {
    padding: $spacing-sm;
  }
  &.sidebar-gray {
    background: $gray-500;
    box-shadow: none;
    h3 {
      color: $white;
      font-size: 26px;
    }
  }
  &.sidebar-black {
    background: $black;
    box-shadow: none;
    p {
      color: $white;
    }
    h3 {
      color: $white;
      font-size: 26px;
    }
  }
  &.sidebar-image {
    box-shadow: none;
    position: relative;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-height: 300px;
    text-align: center;
    .card-header {
      z-index: 2;
      margin: $spacing-lg 0;
    }
    .card-body {
      z-index: 2;
    }
    .sidebar-overlay {
      position: absolute;
      background-color: $ak-green;
      background: url('../img/atoukids-sidebar-bg-dots.svg') no-repeat;
      background-size: 110%;
      background-position: -60px -50px;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      @include media-breakpoint-down(xs) {
        background-size: 120%;
        background-position: 100% 0;
      }
    }
  }
  &.card-light-gray {
    background: $gray-200;
    box-shadow: none;
  }
  &.card-light-green {
    background: rgba($color: $ak-green, $alpha: 0.15);
    box-shadow: none;
  }
  &.card-dark-green {
    background: rgba($color: $ak-green-hover, $alpha: 0.7);
    box-shadow: none;
  }
}



.ak-who-card {
  background: $white;
  box-shadow: $box-shadow;
  padding: $spacing-xl $spacing-xl $spacing-xl 0;
  margin: $spacing-xl 0;
  border-radius: $card-radius;
  max-width: 100%;
  @include media-breakpoint-down(sm) {
    padding: $spacing-lg $spacing-sm;
  }
  .ak-review-count {
    display: inline-block;
    color: $ak-color-main;
    font-weight: 700;
    margin-right: $spacing;
  }
  .ak-who-address {
    display: block;
  }
  .ak-who-avatar {
    width: 130px;
    border: 1px solid $ak-color-main;
    border-radius: $form-radius;
    @include media-breakpoint-down(xs) {
      width: 100px;
      margin-left: -$spacing;
    }
  }
  p.ak-who-title {
    font-weight: bold;
    margin: 0;
    .ak-who-initials {
      color: $ak-color-main;
    }
  }
  .ak-profile-stars {
    float: right;
    .fa-star:before {
        color: $ak-color-main;
    }
  }
  .ak-who-discover {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    margin-bottom: -60px;
    max-width: 200px;
  }
}

.ak-youthlib-card {
  background: $white;
  box-shadow: $box-shadow;
  margin: $spacing-xl 0;
  border-radius: $card-radius;
  max-width: 100%;
  max-height: 300px;
  @include media-breakpoint-down(md) {
    padding: $spacing-lg $spacing-sm;
    text-align: center;
    max-height: initial;
  }
  .ak-youthlib-book {
    border-radius: $card-radius;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    img {
      max-height: 100%;
    }
    @include media-breakpoint-down(md) {
      padding: 0 $spacing-lg;
      max-height: 200px;
      text-align: center;
    }
  }
  .book-details {
    padding: $spacing-lg $spacing-lg $spacing-md 0;
    position: relative;
    @include media-breakpoint-down(md) {
      padding: $spacing-lg;
    }
    .ak-youthlib-age {
      color: $ak-color-main;
      font-weight: 600;
      font-size: 16px;
      margin: 0;
    }
    .ak-youthlib-category {
      color: $ak-green;
      font-weight: 600;
      font-size: 16px;
    }
    .ak-youthlib-title {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      font-weight: bold;
      height: 60px;
      font-size: 24px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .ak-youthlib-author {
      color: $ak-color-main;
      font-weight: 600;
      font-size: 14px;
      margin: 0;
    }
    .ak-youthlib-desc {
      color: $gray-500;
      font-weight: 600;
      font-size: 13px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      height: 60px;
      text-overflow: ellipsis;
      margin: 0;
    }

  }
  .ak-youthlib-discover {
    position: absolute;
    bottom: 0;
    left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    padding: 0 $spacing-lg;
    text-align: center;
    margin-bottom: -$spacing;
    max-width: 200px;
    background: $ak-color-main;
    @include media-breakpoint-down(md) {
      margin-bottom: -60px;
      max-width: initial;
      left: 26%;
    }
  }
}

.ak-youthlib-book {
  background: rgba($color: $ak-green, $alpha: 0.5);
  border-radius: $card-radius;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 220px;
  overflow: hidden;
  margin-bottom: $spacing-sm;
  img {
    max-height: 100%;
  }
  @include media-breakpoint-up(md) {
    margin-right: $spacing;
  }
  @include media-breakpoint-down(md) {
    padding: 0 $spacing-lg;
    max-height: 200px;
    text-align: center;
  }
}

.ak-youthlib-buy {
  max-width: 200px;
  background: $ak-color-main;
}



.ak-meta-box {
  .ak-meta-heading {
    font-weight: 600;
    font-family: $ak-heading-font-family;
    font-size: $spacing-md;
  }
}

.ak-recommend-box {
  .ak-recommend-header {
    color: $black;
    display: flex;
    font-weight: 600;
    margin-bottom: -$spacing-md;
    p {
      margin: 0;
      line-height: 1.3;
    }
    .card-icon {
      border-radius: $spacing-sm;
      padding: $spacing;
      transform: matrix(0.97, 0.26, -0.26, 0.97, 0, 0);
      width: $spacing-max;
      height: $spacing-max;
      z-index: 3;
      margin-right: $spacing-md;
    }
  }
  @include media-breakpoint-down(xs) {
    margin: $spacing-lg 0;
  }
  .ak-recommend-card {
    p {
      margin: 0;
      color: $white;
      font-weight: 600;
    }
  }
}

.ak-bloglist-header {
  margin: $spacing 0;
  margin-left: $spacing-xl;
  font-size: 18px;
  a {
    color: $ak-green;
  }
  @include media-breakpoint-down(xs) {
    text-align: center;
    margin-left: auto;
  }
}
.ak-bloglist-card {
  background: $white;
  box-shadow: $box-shadow;
  margin: 0 0 $spacing-xl 0;
  border-radius: $form-radius;
  max-width: 100%;
  position: relative;
  display: block;
  @include media-breakpoint-down(xs) {
    padding: 0;
    text-align: center;
  }
  .ak-bloglist-overlay {
    transition: .5s ease;  
    opacity: 0.9;   
    position: absolute;   
    padding: 0px 40px;   
    top: 0;    
    left: 0;    
    text-align: center;    
    width: 100%;
    height: 100%;
    background: black;
    z-index: 1;
    display: none;
    .ak-bloglist-overlay-title {
      position: relative;
      text-align: left;
      letter-spacing: 0px;
      color: #FFFFFF;
      opacity: 3;
    }
  }
  &:hover {
    overflow: hidden;
    .ak-bloglist-overlay {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .ak-bloglist-image {
    background: rgba($color: $ak-green, $alpha: 0.5);
    border-radius: 0 $card-radius $card-radius 0;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    img {
      max-height: 100%;
      object-fit: cover !important;
      object-position: center !important;
      @include media-breakpoint-down(xs) {
        width: 100%;
      }
    }
    @include media-breakpoint-down(xs) {
      max-height: 200px;
      text-align: center;
      border-radius: 0 0 $card-radius $card-radius;
    }
  }
  .blog-details {
    padding: $spacing-lg 0 $spacing-lg $spacing-xl;
    @include media-breakpoint-down(xs) {
      padding: $spacing-lg;
    }
    .ak-bloglist-date {
      color: $ak-green;
      font-weight: 400;
      font-size: $spacing-md;
    }
    .ak-bloglist-category {
      color: $ak-green;
      font-weight: 600;
      font-size: 16px;
    }
    .ak-bloglist-title {
      font-weight: bold;
      font-family: "Museo 700";
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .ak-bloglist-author {
      color: $ak-color-main;
      font-weight: 600;
      font-size: 14px;
      margin: 0;
    }
    .ak-bloglist-intro {
      color: $gray-500;
      font-weight: 600;
      font-size: 16px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin: 0;
    }

  }
  .ak-bloglist-discover {
    position: absolute;
    bottom: -$spacing-md;
    max-width: 200px;
    right: $spacing-lg;
    @include media-breakpoint-down(xs) {
      margin-bottom: $spacing;
      max-width: initial;
      text-align: center;
    }
  }
}

.ak-package-card {
  border: 0;
  box-shadow: $box-shadow;
  border-radius: $card-radius;
  position: relative;
  padding: $spacing-md;
  text-align: center;
  margin-bottom: $spacing-lg;
  .card-heading {
    padding: $spacing-lg 0;
  }
  &.special-offer {
    background: $ak-green-hover;
    h2 {
      color: $white;
    }
    p {
      color: $white;
    }
  }
  .ak-package-icon {
    max-width: 100px;
  }
  .offer-text {
    color: $ak-red;
    font-weight: 700;
  }
  .ak-package-cta {
    .ak-add-button {
      padding: $spacing-sm $spacing-md;
    }
  }
} 

.ak-breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  border-radius: 0.25rem;
  a {
    color: $ak-green;
  }
  @include media-breakpoint-down(xs) {
    font-size: 16px;
  }
}

.ak-messages-block {
  .ak-message-card {
    background: #fff;
    box-shadow: 0 2px 6px 3px rgba(0,0,0,.1);
    padding: $spacing-xl;
    margin: $spacing-xl 0;
    border-radius: $spacing-md;
    max-width: 100%;
    position: relative;
    .ak-message-header {
        p {
            margin: 0;
            &.ak-message-title {
                font-weight: bold;
            }
            &.ak-message-desc {
                font-size: 16px;
                color: $gray-500;
            }
        }
    }
    .ak-message-body {
        margin-top: $spacing-lg;
    }
    .ak-message-read {
        text-align: center;
        margin-bottom: -60px;
        max-width: 200px;
    }
    .ak-circle-avatar {
        display: block;
        position: absolute;
        top: 0;
        left: -70px;
        @include media-breakpoint-down(xs) {
          top: -$spacing-max;
          left: 30%;
        }
    }
  }
}

.ak-comment-section {
  .ak-comment {
    .ak-comment-card {
      background: $white;
      box-shadow: 0 2px 6px 3px rgba(0,0,0,.1);
      padding: $spacing-xl $spacing-sm $spacing;
      margin: $spacing-xl 0;
      border-radius: $card-radius;
      width: 100%;
      position: relative;
      &.comment-reply {
        background: $ak-color-alternate-bg;
        width: 90%;
        float: right;
      }
      .ak-comment-header {
          p {
              margin: 0;
              &.ak-comment-title {
                  font-weight: bold;
              }
              &.ak-comment-date {
                  font-size: 16px;
                  color: $ak-green;
                  text-transform: uppercase;
                  font-weight: 600;
              }
          }
      }
      .ak-comment-body {
          margin-top: $spacing-lg;
      }
      .ak-comment-read {
          text-align: center;
          margin-bottom: -60px;
          max-width: 200px;
      }
    }
  }
}

.ak-page-reviews {
  .ak-review-block {
      width: 60%;
      @include media-breakpoint-down(sm) {
          width: 90%;
      }
  }
}


.check-option {
  background: $gray-100;
  border-radius: $card-radius;
  padding: $spacing-xl $spacing-md;
}

.rounded {
  border-radius: $card-radius;
}

.ak-masonry-2 {
  -webkit-column-count: 2;
  -moz-column-count:2;
  column-count: 2;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
  margin: 1.5em;
  padding: 0;
}

.swiper-wrapper {
  margin-bottom: $spacing-max;
}

.ak-modal {
  .modal-content {
    border-radius: $form-radius;
  }
  .modal-header {
    border-bottom: $spacing-xs solid $gray-100;
    padding: $spacing-lg;
  }
  .modal-body {
    padding-bottom: $spacing-xl;
  }
  .close {
    color: $white;
    background: $black;
    border-radius: $form-radius;
    opacity: 1;
    padding: $spacing-sm $spacing-md;
  }
}

.ak-who-carousel {
  .swiper-wrapper {
    margin-bottom: $spacing-max;
    width: 100%;
    background-color: $white;
    .ak-who-block {
      width: 50%;
      text-align: left;
      &.swiper-slide {
        opacity: 0;
        &.swiper-slide-visible {
          opacity: 1;
        }
      }

      
      @include media-breakpoint-down(sm) {
        width: 50%;
      }
      @include media-breakpoint-down(xs) {
        width: 90%;
      }
    }
  }
}

.list-group-item {
  border: 0;
}

.ak-fine-print {
  font-size: 14px;
  color: $gray-500;
}

.ak-img-rounded {
  border-radius: $card-radius;
}


.swiper-pagination-bullet {
  width: $spacing-sm !important;
  height: $spacing-sm !important;
  display: inline-block;
  border-radius: 100%;
  background: $black;
  opacity: .3;
  &-active {
    background: $ak-green;
    opacity: 1;
  }
}


.ak-pagination {
  .page-item-heading {
    h4 {
      font-size: $spacing-lg;
      margin: 0 $spacing;
      @include media-breakpoint-down(sm) {
        font-size: $spacing-md;
      }
    }
  }
  .page-item {
    .page-link {
      position: relative;
      display: block;
      padding: $spacing-xs $spacing;
      margin: 0 $spacing-sm;
      line-height: 1.25;
      color: $white;
      font-size: 24px;
      background-color: $ak-green;
      border-radius: $card-radius;
      border: 0;
      width: 40px;
      height: 40px;
      text-align: center;
      @include media-breakpoint-down(sm) {
        font-size: 16px;
        padding: 3px;
        width: 28px;
        height: 28px;
        margin: 0 $spacing-xs;
      }
    }
    &.active {
      .page-link {
        background-color: $white;
        color: $black;
        border: 3px solid $ak-green;
        padding: 2px $spacing;
        @include media-breakpoint-down(sm) {
          padding: 1px;
        }
      }
    }
  }
}



#gdpr-cookie-message {
	position: fixed;
	right: $spacing-lg;
	bottom: $spacing-lg;
	max-width: 500px;
	background-color: $white;
	padding: $spacing-lg;
	border-radius: $card-radius;
	box-shadow: $box-shadow;
	margin-left: $spacing-lg;
	z-index: 1000;
	h4 {
		font-size: 22px;
		font-weight: 700;
		margin-bottom: $spacing;
	}
	h5 {
		color: $ak-color-main;
		font-size: $spacing-sm;
		margin-bottom: $spacing;
	}
	p {
		font-size: $spacing-sm;
		line-height: 1.5em;
		&:last-child {
			margin-bottom: 0;
			text-align: right;
		}
	}
	ul {
		font-size: $spacing-sm;
		line-height: 1.5em;
		margin: 0;
		padding: 0;
	}
	li {
		width: 49%;
		display: inline-block;
	}
	a {
		color: $ak-green;
		text-decoration: none;
		font-size: $spacing-sm;
		padding-bottom: 2px;
		border-bottom: 1px dotted rgba(255,255,255,0.75);
		transition: all 0.3s ease-in;
		&:hover {
			color: $ak-color-main;
			border-bottom-color: $ak-green;
			transition: all 0.3s ease-in;
		}
	}
	button {
		border: none;
		background: $ak-green;
		font-size: $spacing-sm;
		padding: $spacing 25px;
		border-radius: $spacing-xxl;
		margin-left: $spacing-sm;
    cursor: pointer;
    font-weight: 600;
		transition: all 0.3s ease-in;
		&:hover {
			background: $black;
			color: $white;
			transition: all 0.3s ease-in;
		}
		&:disabled {
			opacity: 0.3;
		}
	}
}
button#ihavecookiesBtn {
	border: none;
	background: $ak-green;
	color: white;
	font-size: $spacing-sm;
	padding: $spacing 25px;
	border-radius: $spacing-xxl;
	margin-left: $spacing-sm;
	cursor: pointer;
	transition: all 0.3s ease-in;
}
button#gdpr-cookie-advanced {
	background: white;
	color: $ak-green;
}

