.ak-main-faqs {
    a {
        color: $black;
    }
    .panel-heading {
        h3 {
            &.panel-title {
                margin: $spacing-sm 0;
            }
        }
    }
    .card-faq {
        border-radius: $spacing-sm;
        margin: $spacing-md 0;
        h4 {
            font-size: 30px;
            font-family: $ak-heading-font-family;
            margin-bottom: 0;
            a {
                color: $ak-green;
            }
            @include media-breakpoint-down(xs) {
                font-size: 20px;
              }
        }
    }
}