.ak-footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
  .ak-footer-logo {
    max-width: 200px;
  }
  .ak-footer-main {
    ul {
      padding: 0;
      list-style: none;
    }
    a {
      color: $black;
      font-size: 16px;
    }
    .footer-menus {
      padding: $spacing-sm $spacing-md;
      @include media-breakpoint-up(md) {
        border-right: 1px solid $gray-300;
        border-left: 1px solid $gray-300;
      }
    }
    .social-icon-footer {
      border-radius: $spacing-sm;
      padding: $spacing-sm;
      transform: rotate(20deg);
      z-index: 3;
      background: $ak-green;
      font-size: 24px;
      text-decoration: none;
      margin-bottom: $spacing-lg;
      .fab {
        transform: rotate(-20deg);
        color: $white;
        width: 24px;
        height: 24px;
        &:before {
          margin: 0;
        }
      }
    }
  }
  .footer-bottom-menu {
    margin: 0;
    a {
      font-weight: 600;
    }
  }
}
