.ak-form-cta {
    text-align: right;
    width: 100%;
    padding: $spacing-md 0;
}

.form-control {
    height: $form-height;
    border-radius: $form-radius;
    padding: $spacing $spacing-lg;
    border: 0;
    display: block;
    background-color: $white;
    box-shadow: $box-shadow;
    margin-bottom: $spacing;
}

input {
    &.form-control {
        width: 100%;
    }
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &.form-control {
        width: 100%;
        padding: 0 0 0 $spacing-lg;
    }
}

.ak-btn-upload {
	position: relative;
	overflow: hidden;
	display: inline-block;
	input[type=file] {
		font-size: 100px;
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
    }
    .ak-btn-upload-link {
        display: block;
    }
}

textarea {
    &.form-control {
        width: 100%;
        border-radius: $card-radius;
    }
}

.heading-caps {
    font-weight: 300 !important;
    font-size: 14px;
    text-transform: uppercase;
}

.ak-delete-button {
    .ak-delete-icon {
        background-color: $ak-red;
        // background-image: url(../img/icons/ak-iconDelete.svg);
        // background-size: 40%;
        // background-repeat: no-repeat;
        // background-position: center;
        padding: 0 13px;
        height: auto;
        color: $white;
        &:hover {
            background-color: $black;
        }
    }
}


.checkmark {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    height: 28px;
    width: 28px;
    border-radius: $form-radius;
    background-color: $white;
    border: 1px solid $black;
  &:after {
      content: "";
      position: absolute;
      display: none;
  }
}

.ak-form {
    ul {
        list-style: none;
        padding-inline-start: 0px;
        margin: 0;
        &.ak-transport-options {
            padding: $spacing-md 0;
            border: 0;
            .list-group-item {
                border: 0;
                border-bottom: 3px solid $gray-100;
                background: transparent;
            }
        }
    }
    .form-group {
        margin-bottom: $spacing-sm;
    }
    .select-group {
        margin-right: $spacing-sm;
        width: 100%;
    }
    .ak-add-button {
        padding: $spacing-xs $spacing !important;
    }
    label {
        font-weight: 600;
        margin-bottom: $spacing;
        &.ak-label-fieldset {
            position: relative;
            overflow:hidden;
            width: 100%;
            font-size: 22px;
            font-weight: 700;
            text-transform: uppercase;
            &:after {
                content: "";
                display: inline-block;
                position: absolute;
                width: 100%; 
                height: 100%;
                margin-right: -100%;
                border-bottom: 1px solid $ak-color-main;
                @include media-breakpoint-down(sm) {
                    display: none;
                } 
            }
            @include media-breakpoint-down(sm) {
                border-bottom: 1px solid $ak-color-main;
            } 
        }
        &.ak-label-form-group {
            font-size: 18px;
            font-weight: 700;
            padding: $spacing 0;
            width: 100%;
            margin-top: $spacing-lg;
        }
        &.ak-dropdown {
            position: relative;
            margin-right: $spacing-sm;
            width: 100%;
            margin-bottom: 0;
            &:after {
                content: "";
                position: absolute;
                width: $spacing-xxl;
                height: $spacing-xxl;
                top: $spacing-xs;
                right: $spacing-xs;
                background: 0 0;
                background-repeat: no-repeat;
                background-position-x: 100%;
                background-image: url(../img/icons/ak-iconDropdown.svg);
            }
        }
    }
    .ak-datepicker {
        position: relative;
        width: 100%;
        &:after {
            content: "";
            position: absolute;
            width: $spacing-xxl;
            height: $spacing-xxl;
            top: $spacing-xs;
            right: $spacing-xs;
            background: 0 0;
            background-repeat: no-repeat;
            background-position-x: 100%;
            background-image: url(../img/icons/ak-iconCalendar.svg);
            z-index: 3;
        }
    }
    fieldset {
        padding: $spacing-sm 0;
        &:last-child {
            border-bottom: 0;
        }
        .filter-group {
            text-align: left;
            font-weight: bold;
            color: $ak-green;
            font-size: 22px;
        }
    }
    .ak-filter-option {
        @include media-breakpoint-up(sm) {
            margin-right: $spacing;
            &:last-child {
                border-right: 0;
            }
        }  
    }
    .ak-list-option {
        list-style: none;
        &.ak-spinner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: $spacing;
            &.spinner-right {
                span.spinner {
                    right: 60px;
                }
            }
        }
    }
    .toggle-checkbox {
        display: flex;
        align-items: center;
        justify-content: left;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 14px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &.form-control {
            padding-left: $spacing-max;
            box-shadow: none;
            background-color: transparent;
            height: auto;
            min-height: $spacing-lg;
        }
        &.selected {
            font-weight: bold;
        }
        &.readonly {
            .checkmark {
                border-color: $gray-400 !important;
                &:after {
                    color: $gray-400 !important;
                }
            }
        }
        .checkmark {
            left: 0;
            &:after {
                content: "\f00c";
                font-family: "FontAwesome";
                left: $spacing-xs;
                top: 0;
                width: $spacing-xs;
                height: $spacing-sm;
                color: $ak-green;
            }
        }
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
        &:hover {
            input {
                ~ {
                    .checkmark {
                        border-color: $ak-green;
                    }
                }
            }
        }
        input {
            &:checked {
                ~ {
                    .checkmark {
                        border: 2px solid $ak-green;
                        &:after {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    .ak-filter-buttons {
        border-left: 1px solid $ak-green;
        padding-left: $spacing-lg;
        @include media-breakpoint-down(xs) {
            border-left: 0;
            border-top: 1px solid $ak-green;
            padding: $spacing-md 0 0;
        }
        .ak-delete-button {
            .form-control {
                background-color: $ak-red;
                background-image: url(../img/icons/ak-iconDelete.svg);
                background-size: 40%;
                background-repeat: no-repeat;
                background-position: center;
                &:hover {
                    background-color: $black;
                }
            }
        }
    }
    .ak-spinner {
        input[type=number] {
            float: left;
            width: 50px;
            height: 100%;
            padding: 0;
            font-size: 24px;
            text-transform: uppercase;
            text-align: center;
            font-weight: 600;
            color: $black;
            border: 0;
            background: none;
            outline: none;
            pointer-events: none;
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
            }
        }
        span {
            &.spinner {
                position: absolute;
                height: $spacing-xl;
                margin-top: -$spacing-xs;
                user-select: none;
                background: $white;
                -ms-user-select: none;
                -moz-user-select: none;
                -webkit-user-select: none;
                -webkit-touch-callout: none;
                box-shadow: $box-shadow;
                border-radius: $form-radius;
                >.sub {
                    float: left;
                    display: block;
                    width: $spacing-xl;
                    height: 100%;
                    text-align: center;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 38px;
                    color: $ak-color-main;
                    border: 0;
                    border-radius: $spacing-md 0 0 $spacing-md;
                    cursor: pointer;
                    transition: 0.1s linear;
                    -o-transition: 0.1s linear;
                    -ms-transition: 0.1s linear;
                    -moz-transition: 0.1s linear;
                    -webkit-transition: 0.1s linear;
                    &:hover {
                        background: $gray-300;
                        border-radius: $spacing-md 0 0 $spacing-md;
                        color: $white;
                    }
                }
                >.add {
                    float: left;
                    display: block;
                    width: $spacing-xl;
                    height: 100%;
                    text-align: center;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 38px;
                    color: $ak-color-main;
                    border: 0;
                    border-radius: $spacing-md 0 0 $spacing-md;
                    cursor: pointer;
                    transition: 0.1s linear;
                    -o-transition: 0.1s linear;
                    -ms-transition: 0.1s linear;
                    -moz-transition: 0.1s linear;
                    -webkit-transition: 0.1s linear;
                    top: 0;
                    border: 0;
                    border-radius: 0 2px 2px 0;
                    &:hover {
                        background: $gray-300;
                        border-radius: 0 $spacing-md $spacing-md 0;
                    }
                }
            }
            &.spinner-unit {
                margin-left: 90px;
                font-size: 18px;
            }
            &.spinner-currency {
                margin-left: $spacing-xl;
            } 
        }
        &.ak-distance-max {
            .spinner-unit {
                margin-left: 150px;
                font-size: 18px;
            }
        }
    }
    .ak-star-rating {
        >input {
            display: none;
            &:checked {
                ~ {
                    label {
                        color: $ak-green;
                        &:before {
                            font-weight: 600;
                        }
                    }
                }
            }
            &:hover {
                ~ {
                    label {
                        color: $ak-green;
                        &:before {
                            font-weight: 600;
                        }
                    }
                }
            }
        }
        >label {
            &:before {
                content: "\f005";
                margin: 2px;
                font-size: 22px;
                font-family: "Font Awesome 5 Free";
                display: inline-block;
                font-weight: 400;
            }
            color: $ak-green;
        }
    }
}

.ak-gallery {
    .swiper-container {
        width: 100%;
        height: 500px;
        margin-left: auto;
        margin-right: auto;
        &.ak-gallery-top {
            width: 100%;
            @include media-breakpoint-down(md) {
                max-height: 300px;
            }
        }
        &.ak-gallery-thumbs {
            box-sizing: border-box;
            padding: 10px 0;
            .swiper-slide {
                height: 100%;
                opacity: 0.4;
            }
            .swiper-slide-thumb-active {
                opacity: 1;
            }
            @include media-breakpoint-down(md) {
                max-height: 100px;
            }
        }
        .swiper-slide {
            background-size: cover;
            background-position: center;
            border-radius: $card-radius;
        }
    }
}

.ui-datepicker {
    height: auto;
    min-width: 250px;
    font-family: $ak-font-family;
    margin: 5px auto 0;
    padding: $spacing-xs;
	-webkit-box-shadow: $box-shadow;
	-moz-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
    border-radius: $spacing;
    border: 0 !important;
	a {
		text-decoration: none;
	}
	table {
		width: 100%;
	}
	thead {
		border-bottom: 5px solid $gray-200;
	}
	th {
		text-transform: uppercase;
		font-size: 10px;
		padding: 5px 0;
		color: $ak-green;
		text-shadow: 1px 0px 0px #fff;
	}
	tbody {
		td {
			padding: 0;
			border-right: none;
			&:last-child {
				border-right: 0px;
			}
		}
		tr {
			border-bottom: none;
			&:last-child {
				border-bottom: 0px;
			}
		}
	}
	td {
		span {
			display: inline-block;
			font-weight: bold;
			text-align: center;
			width: 30px;
			height: 30px;
			line-height: 30px;
			color: #666666;
		}
		a {
			display: inline-block;
			font-weight: bold;
			text-align: center;
			width: 30px;
			height: 30px;
			line-height: 25px;
            color: #666666;
            border: 0 !important;
            background: none !important;
            box-shadow: none !important;
		}
	}
}
.ui-datepicker-header {
    color: $ak-color-main;
    background: transparent;
	font-weight: bold;
	line-height: 30px;
    border: 0;
    .ui-datepicker-title {
        text-align: center;
    }
    .ui-datepicker-prev {
        width: 30px;
        height: 30px;
        text-align: center;
        cursor: pointer;
        background-image: url('../img/icons/arrow.png');
        background-repeat: no-repeat;
        line-height: 600%;
        overflow: hidden;
        float: left;
        background-position: center -30px;
        background-color: none;
    }
    .ui-datepicker-next {
        width: 30px;
        height: 30px;
        text-align: center;
        cursor: pointer;
        background-image: url('../img/icons/arrow.png');
        background-repeat: no-repeat;
        line-height: 600%;
        overflow: hidden;
        float: right;
        background-position: center 0px;
        background-color: none;
        span {
            background-image: none !important;
        }
    }
}

.ui-datepicker-calendar {
	.ui-state-default {
		background: #ededed;
		background: -moz-linear-gradient(top, #ededed 0%, #dedede 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ededed), color-stop(100%, #dedede));
		background: -webkit-linear-gradient(top, #ededed 0%, #dedede 100%);
		background: -o-linear-gradient(top, #ededed 0%, #dedede 100%);
		background: -ms-linear-gradient(top, #ededed 0%, #dedede 100%);
		background: linear-gradient(top, #ededed 0%, #dedede 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dedede', GradientType=0);
		-webkit-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
		-moz-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
		box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
	}
	.ui-state-hover {
		background: #f7f7f7;
	}
	.ui-state-active {
		background: $ak-color-main !important;
		color: $white;
        border: 0;
        font-weight: bold;
        border-radius: $spacing-xs;
		position: relative;
		margin: -1px;
	}
	td {
		&:first-child {
			.ui-state-active {
				width: 29px;
				margin-left: 0;
			}
		}
		&:last-child {
			.ui-state-active {
				width: 29px;
				margin-right: 0;
			}
		}
	}
	tr {
		&:last-child {
			.ui-state-active {
				height: 29px;
				margin-bottom: 0;
			}
		}
	}
}
.ui-datepicker-unselectable {
	.ui-state-default {
		background: #f4f4f4;
		color: #b4b3b3;
	}
}
