body {
  @include body-font;
  font-size: 18px;
  line-height: 1.5;
}

@font-face {
  font-family: 'Museo 300';
  font-style: normal;
  font-weight: normal;
  src: local('Museo 300'), url('../fonts/Museo300-Regular.woff') format('woff');
  }
  
  
@font-face {
  font-family: 'Museo 700';
  font-style: normal;
  font-weight: normal;
  src: local('Museo 700'), url('../fonts/Museo700-Regular.woff') format('woff');
}

h1,
h2,
h3 {
  font-family: 'Museo 700';
  color: black;
}

h1 {
  font-size: 60px;
  @include media-breakpoint-down(sm) {
    font-size: 45px;
  }
  @include media-breakpoint-down(xs) {
    font-size: 40px;
    word-break: break-word;
  }
}
h2 {
  font-size: 40px;
  @include media-breakpoint-down(xs) {
    font-size: 30px;
  }
}
h3 {
  font-size: 30px;
  @include media-breakpoint-down(xs) {
    font-size: 24px;
  }
}

h4,
h5,
h6 {
  @include body-font;
  color: black;
  font-weight: 700;
}

h4 {
  font-size: 20px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-family: 'Quicksand', arial, sans-serif;
  color: black;
  font-size: 16px;
}

p {
  font-size: 18px;
  color: $ak-body-text;
  @include media-breakpoint-down(xs) {
    font-size: 16px;
  }
}

a {
  color: $ak-green;
  font-weight: 600;
  &:hover {
    color: $ak-purple;
  }
}

.ak-color-main-bg {
  background-color: $ak-color-main-bg;
} 
.ak-color-secondary-bg {
  background-color: $ak-color-secondary-bg;
} 
.ak-color-alternate-bg {
  background-color: $ak-color-alternate-bg;
}
.ak-accent-bg-green {
  background-color: $ak-accent-color2;
} 
.ak-bg-green {
  background-color: $ak-green;
} 
.ak-bg-dots {
  background-image: url(../img/atoukids-bg-dots.svg);
}

.ak-color-main {
  color: $ak-color-main;
} 

.ak-color-secondary {
  color: $ak-purple;
} 

.ak-color-alternate {
  color: $ak-color-alternate;
} 

.border-pink {
  &-right {
    border-right: 1px solid $ak-color-main;
  }
  &-left {
    border-left: 1px solid $ak-color-main;
  }
  &-top {
    border-top: 1px solid $ak-color-main;
  }
  &-bottom {
    border-bottom: 1px solid $ak-color-main;
  }
} 

.border-purple {
  &-right {
    border-right: 1px solid $ak-color-secondary;
  }
  &-left {
    border-left: 1px solid $ak-color-secondary;
  }
  &-top {
    border-top: 1px solid $ak-color-secondary;
  }
  &-bottom {
    border-bottom: 1px solid $ak-color-secondary;
  }
} 
