body.home {
  header.ak-masthead {
    position: relative;
    background-color: $gray-800;
    background: url('../img/atouKIDS-home-hero.jpg') no-repeat center center;
    @include background-cover;
    margin-top: 75px;
    padding-top: 8rem;
    padding-bottom: 8rem;
    min-height: 650px;
    .overlay {
      position: absolute;
      background-color: $gray-900;
      background: url('../img/home-image-overlay.svg') no-repeat center center;
      background-size: cover;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }
    h1 {
      margin-top: $spacing-md;
    }
    h4 {
      &.ak-header-motto {
        color: $ak-yellow;
        padding: 3em 0;
        span {
          color: $ak-red;
        }
      }
    }
    @media (min-width: 768px) {
      padding-top: 8rem;
      padding-bottom: 4rem;
    }
    @include media-breakpoint-down(xs) {
      min-height: 450px;
      padding: 4rem 0;
    }
  }
}

header {
  &.ak-page-head {
    position: relative;
    background-color: $ak-green;
    @include background-cover;
    margin-top: 75px;
    padding-top: 8rem;
    padding-bottom: 8rem;
    min-height: 400px;
    max-height: 500px;
    overflow: hidden;
    .overlay {
      position: absolute;
      background-color: $gray-900;
      background: url('../img/atoukids-post-header-bg-dots.svg') no-repeat;
      background-position: 0 0;
      background-size: 50%;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      @include media-breakpoint-down(md) {
        background-size: 100%;
        background-position: -80px 20px;
      }
      @include media-breakpoint-down(xs) {
        background-size: 120%;
      }
    }
    h1 {
      margin-top: $spacing-md;
    }
    h4 {
      &.ak-header-motto {
        color: $ak-yellow;
        padding: 3em 0;
        span {
          color: $ak-red;
        }
      }
    }
    @include media-breakpoint-up(sm) {
      padding-top: 8rem;
      padding-bottom: 4rem;
    }
    @include media-breakpoint-down(xs) {
      min-height: 350px;
      padding: 4rem 0;
    }
    &.header-youthlib {
      background: url('../img/atoukids-header-youth-lib.png') no-repeat center center;
      background-size: cover;
    }
    &.header-blog-post {
      .overlay {
        position: absolute;
        background-color: $ak-green;
        background: url('../img/atoukids-post-header-bg-dots.svg') no-repeat;
        background-size: 50%;
        background-position: 0 0;
        height: 100%;
        top: $spacing-lg;
        left: 0;
        @include media-breakpoint-down(xs) {
          background-size: 10%;
          background-position: 100% 0;
        }
      }
    }
  }
}
