
.stickybg {
    background: $white;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 40, 86, 0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 40, 86, 0.1);
    box-shadow: 0px 0px 5px 0px rgba(0, 40, 86, 0.1);
}
.navbar-custom {
    padding: 10px 0;
    min-height: 80px;
}
.navbar {
    padding: 0;
    .ak-nav {
		padding: $spacing-xs $spacing-sm;
		max-width: 1600px;
		&.ak-onboard-flex {
			display: flex;
			align-items: center;
			justify-content: center;
		}
    }
}
.navbar-brand {
	img {
		height: 52px;
		width: auto;
		display: block;
		-webkit-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
	}
    @include media-breakpoint-down(lg) {
        width: 135px;
        padding-left: $spacing;
	}
	@include media-breakpoint-down(xs) {
		width: 100px;
        padding-left: 0;
	}
}
.home {
	.navbar-brand {
	  display: none;
	}
  }
.navbar-toggler {
	float: right;
	border: none;
    padding-right: 0;
    margin: 0 $spacing-xs;
    box-shadow: $box-shadow;
    border-radius: 30px;
    padding: .6rem;
    width: 45px;
    height: 45px;
	&:active {
		outline: none;
	}
	&:focus {
		outline: none;
	}
}
.navbar-light {
	.navbar-toggler-icon {
		width: 24px;
		height: 17px;
		background-image: none;
		position: relative;
		border-bottom: 1px solid $black;
        transition: all 300ms linear;
        order: 2;
        float: right;
		&:after {
			width: 24px;
			position: absolute;
			height: 1px;
			background-color: $black;
			top: 0;
			left: 0;
			content: '';
			z-index: 2;
			transition: all 300ms linear;
			top: 8px;
		}
		&:before {
			width: 24px;
			position: absolute;
			height: 1px;
			background-color: $black;
			top: 0;
			left: 0;
			content: '';
			z-index: 2;
			transition: all 300ms linear;
		}
	}
}
.navbar-toggler[aria-expanded="true"] {
	.navbar-toggler-icon {
		&:after {
			transform: rotate(45deg);
		}
		&:before {
			transform: translateY(8px) rotate(-45deg);
		}
        border-color: transparent;
        @include media-breakpoint-down(xs) {
           float: right;
        }
	}
}
.nav-link {
	color: $black !important;
	font-weight: 500;
	transition: all 200ms linear;
	position: relative;
	display: inline-block;
}
.ak-mainnav {
	padding-right: $spacing-md;
    li {
        &.nav-item {
            margin: 0 $spacing-xs;
            box-shadow: $box-shadow;
            border-radius: $spacing-lg;
            padding: .6rem 1.5rem;
            .nav-link {
                padding: 0 !important;
            }
            @include media-breakpoint-down(md) {
                margin: $spacing-xs 0;
            }
        }
        
    }
    @include media-breakpoint-down(md) {
        padding: 20px 0;
    }
}

.nav-item {
	position: relative;
	transition: all 200ms linear;
	.dropdown-menu {
		transform: translate3d(0, 10px, 0);
		visibility: hidden;
		opacity: 0;
		max-height: 0;
		min-width: 0;
		display: block;
		padding: 0;
		margin: 0;
		width: 0;
        transition: all 200ms linear;
        @include media-breakpoint-down(md) {
            box-shadow: none;
            border-radius: 0 0 $spacing-lg $spacing-lg;
            border: 0;
		}
		// .dropdown-item {
		// 	padding: 0;
		// 	margin: 0;
		// 	width: 0;
		// }
	}
	&:hover {
		.nav-link {
			color: $ak-green !important;
		}
		&:after {
			bottom: 0;
			opacity: 1;
		}
		.dropdown-menu {
			display: block;
		}
	}
}
.nav-item.active {
	.nav-link {
		color: #777 !important;
	}
	&:hover {
		&:after {
			opacity: 0;
		}
	}
}
.nav-item.show {
	&.dropdown {
		.dropdown-menu {
			opacity: 1;
			visibility: visible;
			max-height: 999px;
			transform: translate3d(0, 0px, 0);
			padding: 0;
			margin: 0;
			color: $black;
			background-color: $white;
			border: none;
			top: $spacing-max;
			border-radius: $spacing-md;
			box-shadow: $box-shadow;
			transition: all 200ms linear;
			min-width: 320px;
			overflow: hidden;
			&:after {
				content: '';
				width: 0;
				height: 0;
				display: block;
				position: absolute;
				z-index: 10;
				border: 0;
				border-top: 10px solid transparent;
				border-bottom: 10px solid transparent;
				margin-left: -10px;
				left: 50%;
				border-bottom: 10px solid $ak-color-main;
				top: -8px;
			}
			@include media-breakpoint-down(md) {
				margin: 0;
				padding: 0;
				box-shadow: none;
				border-radius: 0 0 $spacing-md $spacing-md;
				max-width: initial;
				min-width: 100%;
			}
		}
	}
	@include media-breakpoint-down(xs) {
		padding: $spacing-md $spacing-lg;
	}
	
}

.ak-onboard {
	padding: $spacing-sm 0;
	order: 1;
	.navbar-nav {
		flex-direction: row;
		li {
			display: inline-block;
			.ak-btn-text {
				@include media-breakpoint-down(lg) {
					display: none;
				}
			}
		}
		@include media-breakpoint-down(md) {
			flex-direction: row;
		}
	}
	.btn {
		margin-bottom: 0;
	}
	.dropdown {
		padding: 0 !important;
		.dropdown-toggle {
			&::after {
				display: none;
			}
		}
		&.show {
			position: relative;
			.dropdown-menu {
				position: absolute;
				min-width: 180px;
				&.show {
					@include media-breakpoint-down(md) {
						left: -100%;
						padding: $spacing;
						border-radius: 0 0 $spacing-md $spacing-md;
						background-color: $white;
						border: none;
						top: $spacing-xxl;
						border-radius: $spacing-md;
						box-shadow: $box-shadow;
						width: 180px;
						
						margin: 0;
					}
				}
			}
		}
	}
}

.dropdown-item {
	white-space: normal;
	padding: $spacing-sm $spacing-lg;
	border-bottom: 1px solid $gray-300;
	color: $black;
	a {
		color: $black;
		font-weight: 400;
		&:hover {
			color: $ak-green;
			text-decoration: none;
			font-weight: 600;
		}
		&:focus {
			color: $ak-green;
			text-decoration: none;
			font-weight: 600;
		}
	}
	&:hover {
		background-color: none;
	}
	&:last-child {
		border: 0;
	}
	@include media-breakpoint-down(sm) {
		padding-left: 0;
	}
}
