
.preview-pages {
    background: $ak-accent-color2;
    padding: $spacing-xl 0;
    .preview-cards {
        margin-bottom: $spacing-lg;
        .card {
            padding: $spacing-lg;
            margin-bottom: $spacing-lg;
            position: relative;
            .card-title {
                font-size: 18px;
                text-transform: uppercase;
                font-weight: 700;
                color: $ak-green;
                margin: 0;
            }
            .page-title {
                color: $ak-color-main;
                margin-bottom: $spacing-lg;
                font-family: $ak-heading-font-family;
            }
            .btn {
                margin-bottom: -50px;
            }
        }
    }
}