.ak-profile {
    padding: 80px 0 0;
    .ak-pro-dashboard {
        background: $ak-color-main-bg;
        background-repeat: no-repeat;
        background-position: center 20%;
        background-size: cover;
        padding: $spacing-max 0;
        @include media-breakpoint-down(xs) {
            padding: $spacing-max 0;
        }
        &.ak-pro-dash-profile {
            background-image: url(../img/ak-profile-white-blob.svg);
        }
    }
    .ak-pro-data-card {
        display: flex;
        justify-content: center;
        padding: $spacing-md;
        @include media-breakpoint-down(md) {
            padding: $spacing-xl $spacing-xs;
            margin-bottom: $spacing-xl;
        }
        .ak-pro-data-bio {
            background: $ak-color-main;
            border-radius: $card-radius;
            padding: $spacing-lg;
            margin-top: $spacing-lg;
            max-width: 365px;
            .ak-profile-img {
                position: relative;
                margin-top: -100px;
                .ak-favorite-icon {
                    position: absolute;
                    top: -$spacing-xs;
                    right: $spacing-lg;
                    width: auto;
                }
            }
            .icon-block {
                a {
                    display: block;
                    text-align: right;
                }
            }
            a {
                color: $white;
            }
            p {
                color: $white;
                margin: $spacing-xs 0;
                font-size: 16px;
                font-weight: 600;
            }
            .ak-opinion-btn {
                margin-bottom: -$spacing-max;
                margin-top: $spacing-lg;
            }
        }
    }
    .ak-profile-head {
        .ak-profile-summary {
            margin-top: $spacing-lg;
            border-top: 1px solid $ak-color-main;
            padding: $spacing-xl;
            h4 {
                text-transform: uppercase;
            }
            .list-group {
                .list-group-item {
                    background: transparent;
                }
            }
        }
    }
    .ak-reviews-bar {
        padding: $spacing-xxl $spacing-lg;
        width: 100%;
        @include media-breakpoint-down(xs) {
            padding: $spacing-lg 0;
        }
        .ak-review-count {
            display: inline-block;
            color: $ak-color-main;
            font-weight: 600;
            margin-right: $spacing;
        }
        .ak-profile-stars {
            display: inline-block;
            .fa {
                color: $ak-color-main;
            }
        }
    }
    .ak-profile-body {
        padding: 60px 0;
        @include media-breakpoint-down(xs) {
            padding: $spacing-max 0;
        }
        .list-group {
            .list-group-item {
                background: transparent;
            }
        }
        h3 {
            color: $ak-color-main;
        }
        h4 {
            margin-bottom: $spacing-lg;
        }

    }
    .ak-dash-body {
        margin-top: -50px;
        padding-bottom: $spacing-max;
        .ak-profile-usermenu {
            padding: $spacing-md;
            box-shadow: $box-shadow;
            background-color: $white;
            border-radius: $card-radius;
            margin-bottom: $spacing-lg;
            .ak-profile-leftnav {
                border: 0;
                .list-group-item {
                    background-color: transparent;
                    border-color: transparent;
                    z-index: 2;
                    color: $ak-body-text;
                    border-bottom: 1px solid $ak-color-main;
                    padding-left: 0;
                    font-size: 16px;
                    &.active {
                        color: $ak-color-main;
                    }
                }
            }
        }
        .ak-dash-stats {
            text-align: center;
            .ak-dash-col {
                margin-bottom: $spacing-lg;
                @include media-breakpoint-down(md) {
                    padding: $spacing-lg 0;
                    &:first-child {
                        border-bottom: 1px solid $ak-color-main;
                    }
                }
                .ak-icon-tilt {
                    max-width: 100px;
                    margin-bottom: $spacing-lg;
                }
                .ak-sub-summary {
                    margin: $spacing-xl 0;
                }
                .ak-sub-stats {
                    margin-bottom: $spacing-sm;
                    text-align: left;
                    .image-parent {
                        width: 50px;
                        height: 50px;
                        margin-right: $spacing-sm;
                    }
                }
            }
        }
        .ak-dash-edit {
            .ak-dash-col {
                margin-top: $spacing-lg;
            }
        }
        .ak-messages {
            .ak-message-atoukids {
                background: $ak-color-main;
                &:hover {
                    background: $ak-green;
                }
            }
        }
    }
    .ak-table-week {
        padding-right: $spacing-md;
        .table {
            font-size: 14px;
            th {
                padding: $spacing-xs;
                border: 0;
            }
            td {
                padding: 0;
                border: 0;
            }
        }
        .toggle-checkbox {
            padding-left: 0;
            margin: $spacing-xs 0;
            .checkmark {
                position: relative;
                transform: initial;
            }
        }
    }
    .ak-profile-img {
        text-align: center;
        padding: 0 $spacing-md;
        position: relative;
        @include media-breakpoint-down(xs) {
            height: 80%;
        }
        img {
            border: 2px solid $ak-color-main;
            border-radius: $spacing-lg;
        }
        .file {
            position: relative;
            overflow: hidden;
            margin-top: -20%;
            width: 70%;
            border: none;
            border-radius: 0;
            font-size: 15px;
            background: #212529b8;
            input {
                position: absolute;
                opacity: 0;
                right: 0;
                top: 0;
            }
        }
    }
    .ak-edit-icon {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        display: block;
        .form-control {
            background-image: url(../img/icons/ak-iconEdit.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-color: $ak-color-main;
            background-size: 50%;
            margin: 0 auto;
            margin-top: -30px;
            z-index: 999;
            width: 50px;
        }
    }
    .ak-image-upload-icon {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        display: block;
        .form-control {
            background-image: url(../img/icons/ak-iconChangeImage.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-color: $ak-color-main;
            background-size: 50%;
            margin: 0 auto;
            margin-top: -$spacing-md;
            z-index: 999;
            width: $spacing-xl;
            height: $spacing-xl;
            padding: 0 $spacing-xs;
        }
    }
    .ak-favorite-icon {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        display: block;
        .form-control {
            background-image: url(../img/icons/ak-iconHeart-light.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-color: $ak-green;
            background-size: 100%;
            margin: 0 auto;
            margin-top: -30px;
            z-index: 999;
            width: 50px;
        }
    }
    .ak-profile-head {
        h5 {
            color: $black;
        }
        h6 {
            color: $ak-color-main;
        }
        .nav-tabs {
            margin-bottom: 5%;
            .nav-link {
                font-weight: 600;
                border: none;
            }
            .nav-link.active {
                border: none;
                border-bottom: 2px solid $ak-color-main;
            }
        }
        .progress-heading {
            display: inline-block;
            margin-right: $spacing-md;
        }
        
        .progressbar-title {
            position: relative;
            margin-bottom: 10px;
            background: transparent;
            border-radius: 5px;
            padding: 30px 100px 30px 0;
            display: inline-block;
            @include media-breakpoint-down(xs) {
                width: 100%;
            }
            .progressbar-value {
                position: absolute;
                right: $spacing-sm;
                top: 8px;
                color: $white;
                font-weight: bold;
                font-size: 22px;
                background: $ak-color-main;
                padding: $spacing;
                border-radius: $card-radius;
                &:after {
                    content: '';
                    width: 0;
                    height: 0;
                    display: block;
                    position: absolute;
                    z-index: 10;
                    border: 0;
                    border-top: $spacing solid transparent;
                    border-bottom: $spacing solid transparent;
                    margin-top: -$spacing;
                    top: 50%;
                    border-right: $spacing solid $ak-color-main;
                    left: -8px;
                }
            }
        }
        .progress {
            height: 10px;
            border-radius: 10px;
            box-shadow: none;
            line-height: 35px;
            margin: 0;
            min-width: 250px;
            width: auto;
            background: $white;
            @include media-breakpoint-down(xs) {
                min-width: 175px;
            }
            .progress-bar {
                background: $ak-color-main;
                animation: progress 6s;
            }
        }
        @-webkit-keyframes progress{
            0% { width: 0%;}
        }
        @keyframes progress{
            0% { width:0%; }
        }
        .ak-edit-buttons {
            display: block;
            margin: $spacing-lg 0;
        }
    }
    .ak-profile-head-family {
        h5 {
            color: $black;
        }
        h6 {
            color: $ak-color-main;
        }
        .ak-edit-buttons {
            display: block;
            margin: $spacing-lg 0;
        }
    }
    .profile-reminder {
        .time-icon {
            background: $ak-color-alternate;
            margin-right: $spacing-sm;
            color: $white;
            font-size: 36px;
            padding: $spacing;
        }
    }
    .ak-profile-edit-btn {
        border: none;
        border-radius: 1.5rem;
        font-weight: 600;
        color: #6c757d;
        cursor: pointer;
    }
    .ak-profile-rating {
        font-size: 12px;
        color: #818182;
        margin-top: 5%;
        span {
            color: #495057;
            font-size: 15px;
            font-weight: 600;
        }
    }
    .ak-profile-work {
        padding: 14%;
        margin-top: -15%;
        p {
            font-size: 12px;
            color: #818182;
            font-weight: 600;
            margin-top: 10%;
        }
        a {
            text-decoration: none;
            color: #495057;
            font-weight: 600;
            font-size: 14px;
        }
        ul {
            list-style: none;
        }
    }
    .ak-profile-tab {
        label {
            font-weight: 600;
        }
        p {
            font-weight: 600;
            color: #0062cc;
        }
    }
    .ak-btn-sm {
        padding: 3px 6px;
        font-size: 12px;
        width: 24px;
        height: 24px;
        margin-right: 0;
        margin-left: $spacing-xs;
    }
    .ak-work-experience {
        margin: $spacing-lg 0;
        position: relative;
        .ak-action-btns {
            position: absolute;
            top: -$spacing-sm;
            right: 0;
        }
    }
    .ak-publication {
        margin: $spacing-lg 0;
        position: relative;
        .ak-action-btns {
            position: absolute;
            top: -$spacing-sm;
            right: 0;
        }
    }
    .ak-gal-img {
        padding: 10px;
        img {
            border-radius: $card-radius;
            -webkit-border-radius: $card-radius;
            -o-border-radius: $card-radius;
            -moz-border-radius: $card-radius;
            -webkit-transition: 0.5s all;
            -moz-transition: 0.5s all;
            transition: 0.5s all;
            margin-bottom: 15px;
        }
        &:hover {
            img {
                box-shadow: 0 20px 40px -10px rgba(0, 0, 0, .3);
            }
        }
    }
    .ak-profile-reviews {
        .ak-review-block {
            width: 60%;
            @include media-breakpoint-down(sm) {
                width: 90%;
            }
        }
    }
    .ak-messages {
        overflow: hidden;
        .ak-convo-actions {
            .btn-convo-action {
                padding: 0 13px;
                height: auto;
                width: 40px;
                display: inline-block;
            }
        }
        .message-unread {
            font-weight: 600;
            display: flex;
            align-items: center;
            font-size: 20px;
            color: $ak-color-main;
            .message-count {
                font-weight: 600;
                font-size: 20px;
                margin: 0 $spacing;
                color: $ak-color-main;
            }
        }
        .dot {
            height: 16px;
            width: 16px;
            background-color: $ak-color-main;
            border-radius: 50%;
        }
        .ak-profile-messages {
            overflow: visible;
            @include media-breakpoint-down(xs) {
                overflow: hidden;
            }
            .ak-messages-block {
                width: 60%;
                @include media-breakpoint-down(xs) {
                    width: 90%;
                    margin-top: $spacing-lg;
                    padding: $spacing;
                }
                .ak-message-card {
                    background: #fff;
                    box-shadow: 0 2px 6px 3px rgba(0,0,0,.1);
                    padding: $spacing-xl;
                    margin: $spacing-xl 0;
                    border-radius: $spacing-md;
                    max-width: 100%;
                    @include media-breakpoint-down(xs) {
                        padding: $spacing-lg;
                    }
                    .ak-message-header {
                        position: relative;
                        p {
                            margin: 0;
                            &.ak-message-author {
                                font-weight: bold;
                            }
                            &.ak-message-title {
                                font-weight: bold;
                            }
                            &.ak-message-desc {
                                font-size: 16px;
                                color: $gray-500;
                            }
                        }
                        @include media-breakpoint-down(xs) {
                            padding-top: $spacing-lg;
                        }
                    }
                    .dot {
                        position: absolute;
                        top: $spacing-md;
                        right: $spacing-md;
                    }
                    .ak-message-body {
                        margin-top: $spacing-lg;
                    }
                    .ak-message-read {
                        text-align: center;
                        margin-bottom: -60px;
                        max-width: 200px;
                    }
                    .ak-circle-avatar {
                        display: block;
                        position: absolute;
                        top: $spacing-xl;
                        left: -70px;
                        @include media-breakpoint-down(xs) {
                            top: -$spacing-max;
                            left: 33%;
                        }
                    }
                }
            }
        }   
    }
    &.ak-profile-complete { 
        .ak-pro-dashboard {
            padding: $spacing 0 0;
            background: linear-gradient(to bottom, $ak-color-main-bg 0%, $ak-color-main-bg 90%, $white 90%, $white 100%);
            @include media-breakpoint-down(xs) {
                background: $ak-color-main-bg;
            }
            .ak-profile-img {
                .profile-avatar {
                    width: 100px;
                    height: 100px;
                }
            }
            .ak-profile-head {
                margin-top: -$spacing;
                @include media-breakpoint-down(xs) {
                    margin: $spacing-sm 0;
                    text-align: center;
                }
            }
        }
        .ak-dash-body {
            margin-top: $spacing-sm;
        }
        .ak-messages {
            .ak-profile-messages {
                .ak-messages-block {
                    width: 100%;
                    .ak-message-card {
                        .ak-circle-avatar {
                            top: 0;
                            @include media-breakpoint-down(md) {
                                left: -$spacing-lg;
                                .rounded-avatar {
                                    width: 60px;
                                    height: 60px;
                                }
                            }
                            @include media-breakpoint-down(xs) {
                                top: -$spacing-max;
                                left: 33%;
                                .rounded-avatar {
                                    width: 100px;
                                    height: 100px;
                                }
                            }
                        }
                        &.message-reply {
                            width: 90%;
                            margin: $spacing-sm 0;
                            background: $ak-color-main-bg;
                            box-shadow: none;
                        }
                        .ak-message-header {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin-bottom: $spacing;
                            @include media-breakpoint-down(xs) {
                                display: block;
                                margin-bottom: $spacing-sm;
                            }
                        }
                    }
                    .ak-message-title {
                        margin: 0;
                        font-weight: bold;
                    }
                    .ak-message-body {
                        margin-top: $spacing-xs;
                    }
                    .ak-message-actions {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
    &.theme-health-pro {
        .btn {
            &.btn-outline-secondary {
                color: $ak-color-secondary!important;
                border: 1px solid $ak-color-secondary !important;
                &:hover {
                    background: $ak-color-secondary;
                    color: $white !important;
                }
            }
        }
        .ak-pro-dashboard {
            background: $ak-color-secondary-bg;
        }
        .ak-pro-data-card {
            .ak-pro-data-bio {
                background: $ak-color-secondary;
            }
        }
        .ak-profile-head {
            .ak-profile-user {
                color: $ak-color-secondary;
            }
            .ak-profile-summary {
                border-top: 1px solid $ak-color-secondary;
            }
        }
        .ak-reviews-bar {
            .ak-review-count {
                color: $ak-color-secondary;
            }
            .ak-profile-stars {
                .fa {
                    color: $ak-color-secondary;
                }
            }
        }
        .ak-profile-body {
            h3 {
                color: $ak-color-secondary;
            }
        }
        .ak-table {
            th {
              color: $ak-color-secondary;
            }
        }
        .ak-dash-body {
            .ak-profile-usermenu {
                .ak-profile-leftnav {
                    .list-group-item {
                        border-bottom: 1px solid $ak-color-secondary;
                        &.active {
                            color: $ak-color-secondary;
                        }
                    }
                }
            }
            .ak-dash-stats {
                .ak-dash-col {
                    @include media-breakpoint-down(md) {
                        &:first-child {
                            border-bottom: 1px solid $ak-color-secondary;
                        }
                    }
                }
            }
            .ak-messages {
                .ak-message-atoukids {
                    background: $ak-color-secondary;
                    &:hover {
                        background: $black;
                    }
                }
                .ak-message-card {
                    &.message-reply {
                        background: $ak-color-secondary-bg !important;
                    }
                }
            }
            .profile-reminder {
                .time-icon {
                    background: $ak-color-secondary;
                }
            }
        }
        .ak-profile-img {
            img {
                border: 2px solid $ak-color-secondary;
            }
            .file {
                background: #212529b8;
            }
        }
        .ak-edit-icon {
            .form-control {
                background-color: $ak-color-secondary;
            }
        }
        .ak-image-upload-icon {
            .form-control {
                background-color: $ak-color-secondary;
            }
        }
        .ak-favorite-icon {
            .form-control {
                background-color: $ak-green;
            }
        }
        .ak-profile-head {
            h5 {
                color: $black;
            }
            h6 {
                color: $ak-color-secondary;
            }
            .nav-tabs {
                .nav-link.active {
                    border-bottom: 2px solid $ak-color-secondary;
                }
            }
            .progressbar-title {
                .progressbar-value {
                    background: $ak-color-secondary;
                    &:after {
                        border-right: $spacing solid $ak-color-secondary;
                    }
                }
                .progress {
                    .progress-bar {
                        background: $ak-color-secondary;
                    }
                }
            }
        }
        .ak-profile-edit-btn {
            color: #6c757d;
        }
        .ak-profile-rating {
            color: #818182;
            span {
                color: #495057;
            }
        }
        .ak-profile-work {
            p {
                color: #818182;
            }
            a {
                color: #495057;
            }
        }
        .ak-profile-tab {
            label {
                font-weight: 600;
            }
            p {
                color: #0062cc;
            }
        }
        .ak-work-experience {
            border-top: 1px solid $ak-color-secondary;
        }
        .ak-publication {
            border-top: 1px solid $ak-color-secondary;
        }
        &.ak-profile-complete { 
            .ak-pro-dashboard {
                background: linear-gradient(to bottom, $ak-color-secondary-bg 0%, $ak-color-secondary-bg 90%, $white 90%, $white 100%);
                @include media-breakpoint-down(xs) {
                    background: $ak-color-secondary-bg;
                }
            }
        }
        .ak-who-card {
            .ak-review-count {
              color: $ak-color-secondary;
            }
            .ak-who-avatar {
              border: 1px solid $ak-color-secondary;
            }
            p.ak-who-title {
              .ak-who-initials {
                color: $ak-color-secondary;
              }
            }
            .ak-profile-stars {
              .fa-star:before {
                  color: $ak-color-secondary;
              }
            }
        }
        .ak-form {

            label {
                &.ak-label-fieldset {
                    &:after {
                        border-bottom: 1px solid $ak-color-secondary;
                    }
                    @include media-breakpoint-down(sm) {
                        border-bottom: 1px solid $ak-color-secondary;
                    } 
                }
                &.ak-dropdown {
                    &:after {
                        background-image: url(../img/icons/ak-iconDropdown-purple.svg);
                    }
                }
            }
            .ak-datepicker {
                &:after {
                    background-image: url(../img/icons/ak-iconCalendar-purple.svg);
                }
            }
            .toggle-checkbox {
                .checkmark {
                    &:after {
                        color: $ak-color-secondary;
                    }
                }
                &:hover {
                    input {
                        ~ {
                            .checkmark {
                                border-color: $ak-color-secondary;
                            }
                        }
                    }
                }
                input {
                    &:checked {
                        ~ {
                            .checkmark {
                                border: 2px solid $ak-color-secondary;
                            }
                        }
                    }
                }
            }
            .ak-filter-buttons {
                @include media-breakpoint-down(xs) {
                    border-top: 1px solid $ak-green;
                }
                .ak-delete-button {
                    .form-control {
                        background-color: $ak-red;
                        &:hover {
                            background-color: $black;
                        }
                    }
                }
            }
            .ak-spinner {
                span {
                    &.spinner {
                        >.sub {
                            color: $ak-color-secondary;
                        }
                        >.add {
                            color: $ak-color-secondary;
                        }
                    }
                }
            }
        }
    }
    &.theme-childcare-pro {
        .btn {
            &.btn-outline-secondary {
                color: $ak-color-main!important;
                border: 1px solid $ak-color-main !important;
                &:hover {
                    background: $ak-color-main;
                    color: $white !important;
                }
            }
        }
        .ak-pro-dashboard {
            background: $ak-color-main-bg;
        }
        .ak-pro-data-card {
            .ak-pro-data-bio {
                background: $ak-color-main;
            }
        }
        .ak-profile-head {
            .ak-profile-user {
                color: $ak-color-main;
            }
            .ak-profile-summary {
                border-top: 1px solid $ak-color-main;
            }
        }
        .ak-reviews-bar {
            .ak-review-count {
                color: $ak-color-main;
            }
            .ak-profile-stars {
                .fa {
                    color: $ak-color-main;
                }
            }
        }
        .ak-profile-body {
            h3 {
                color: $ak-color-main;
            }
        }
        .ak-table {
            th {
              color: $ak-color-main;
            }
        }
        .ak-dash-body {
            .ak-profile-usermenu {
                .ak-profile-leftnav {
                    .list-group-item {
                        border-bottom: 1px solid $ak-color-main;
                        &.active {
                            color: $ak-color-main;
                        }
                    }
                }
            }
            .ak-dash-stats {
                .ak-dash-col {
                    @include media-breakpoint-down(md) {
                        &:first-child {
                            border-bottom: 1px solid $ak-color-main;
                        }
                    }
                }
            }
            .ak-messages {
                .ak-message-atoukids {
                    background: $ak-color-main;
                    &:hover {
                        background: $black;
                    }
                }
                .ak-message-card {
                    &.message-reply {
                        background: $ak-color-main-bg !important;
                    }
                }
            }
            .profile-reminder {
                .time-icon {
                    background: $ak-color-main;
                }
            }
        }
        .ak-profile-img {
            img {
                border: 2px solid $ak-color-main;
            }
            .file {
                background: #212529b8;
            }
        }
        .ak-edit-icon {
            .form-control {
                background-color: $ak-color-main;
            }
        }
        .ak-image-upload-icon {
            .form-control {
                background-color: $ak-color-main;
            }
        }
        .ak-favorite-icon {
            .form-control {
                background-color: $ak-green;
            }
        }
        .ak-profile-head {
            h5 {
                color: $black;
            }
            h6 {
                color: $ak-color-main;
            }
            .nav-tabs {
                .nav-link.active {
                    border-bottom: 2px solid $ak-color-main;
                }
            }
            .progressbar-title {
                .progressbar-value {
                    background: $ak-color-main;
                    &:after {
                        border-right: $spacing solid $ak-color-main;
                    }
                }
                .progress {
                    .progress-bar {
                        background: $ak-color-main;
                    }
                }
            }
        }
        .ak-profile-edit-btn {
            color: #6c757d;
        }
        .ak-profile-rating {
            color: #818182;
            span {
                color: #495057;
            }
        }
        .ak-profile-work {
            p {
                color: #818182;
            }
            a {
                color: #495057;
            }
        }
        .ak-profile-tab {
            label {
                font-weight: 600;
            }
            p {
                color: #0062cc;
            }
        }
        .ak-work-experience {
            border-top: 1px solid $ak-color-main;
        }
        .ak-publication {
            border-top: 1px solid $ak-color-main;
        }
        &.ak-profile-complete { 
            .ak-pro-dashboard {
                background: linear-gradient(to bottom, $ak-color-main-bg 0%, $ak-color-main-bg 90%, $white 90%, $white 100%);
                @include media-breakpoint-down(xs) {
                    background: $ak-color-main-bg;
                }
            }
        }
        .ak-who-card {
            .ak-review-count {
              color: $ak-color-main;
            }
            .ak-who-avatar {
              border: 1px solid $ak-color-main;
            }
            p.ak-who-title {
              .ak-who-initials {
                color: $ak-color-main;
              }
            }
            .ak-profile-stars {
              .fa-star:before {
                  color: $ak-color-main;
              }
            }
        }
        .ak-form {

            label {
                &.ak-label-fieldset {
                    &:after {
                        border-bottom: 1px solid $ak-color-main;
                    }
                    @include media-breakpoint-down(sm) {
                        border-bottom: 1px solid $ak-color-main;
                    } 
                }
                &.ak-dropdown {
                    &:after {
                        background-image: url(../img/icons/ak-iconDropdown-pink.svg);
                    }
                }
            }
            .ak-datepicker {
                &:after {
                    background-image: url(../img/icons/ak-iconCalendar-pink.svg);
                }
            }
            .toggle-checkbox {
                .checkmark {
                    &:after {
                        color: $ak-color-main;
                    }
                }
                &:hover {
                    input {
                        ~ {
                            .checkmark {
                                border-color: $ak-color-main;
                            }
                        }
                    }
                }
                input {
                    &:checked {
                        ~ {
                            .checkmark {
                                border: 2px solid $ak-color-main;
                            }
                        }
                    }
                }
            }
            .ak-filter-buttons {
                @include media-breakpoint-down(xs) {
                    border-top: 1px solid $ak-green;
                }
                .ak-delete-button {
                    .form-control {
                        background-color: $ak-red;
                        &:hover {
                            background-color: $black;
                        }
                    }
                }
            }
            .ak-spinner {
                span {
                    &.spinner {
                        >.sub {
                            color: $ak-color-main;
                        }
                        >.add {
                            color: $ak-color-main;
                        }
                    }
                }
            }
        }
    }
    &.theme-family {
        .btn {
            &.btn-outline-secondary {
                color: $ak-color-alternate!important;
                border: 1px solid $ak-color-alternate !important;
                &:hover {
                    background: $ak-color-alternate;
                    color: $white !important;
                }
            }
        }
        .ak-pro-dashboard {
            background: $ak-color-alternate-bg;
        }
        .ak-pro-data-card {
            .ak-pro-data-bio {
                background: $ak-color-alternate;
            }
        }
        .ak-profile-head {
            .ak-profile-user {
                color: $ak-color-alternate;
            }
            .ak-profile-summary {
                border-top: 1px solid $ak-color-alternate;
            }
        }
        .ak-reviews-bar {
            .ak-review-count {
                color: $ak-color-alternate;
            }
            .ak-profile-stars {
                .fa {
                    color: $ak-color-alternate;
                }
            }
        }
        .ak-profile-body {
            h3 {
                color: $ak-color-alternate;
            }
        }
        .ak-table {
            th {
              color: $ak-color-alternate;
            }
        }
        .ak-dash-body {
            .ak-profile-usermenu {
                .ak-profile-leftnav {
                    .list-group-item {
                        border-bottom: 1px solid $ak-color-alternate;
                        &.active {
                            color: $ak-color-alternate;
                        }
                    }
                }
            }
            .ak-messages {
                .ak-message-atoukids {
                    background: $ak-color-alternate;
                    &:hover {
                        background: $ak-green;
                    }
                }
                .ak-message-card {
                    &.message-reply {
                        background: $ak-color-alternate-bg !important;
                    }
                }
            }
            .profile-reminder {
                .time-icon {
                    background: $ak-color-alternate;
                }
            }
            .ak-dash-stats {
                .ak-dash-col {
                    @include media-breakpoint-down(md) {
                        &:first-child {
                            border-bottom: 1px solid $ak-color-alternate;
                        }
                    }
                }
            }
        }
        .ak-profile-img {
            img {
                border: 2px solid $ak-color-alternate;
            }
            .file {
                background: #212529b8;
            }
        }
        .ak-edit-icon {
            .form-control {
                background-color: $ak-color-alternate;
            }
        }
        .ak-image-upload-icon {
            .form-control {
                background-color: $ak-color-alternate;
            }
        }
        .ak-favorite-icon {
            .form-control {
                background-color: $ak-green;
            }
        }
        .ak-profile-head {
            h5 {
                color: $black;
            }
            h6 {
                color: $ak-color-alternate;
            }
            .nav-tabs {
                .nav-link.active {
                    border-bottom: 2px solid $ak-color-alternate;
                }
            }
            .progressbar-title {
                .progressbar-value {
                    background: $ak-color-alternate;
                    &:after {
                        border-right: $spacing solid $ak-color-alternate;
                    }
                }
                .progress {
                    .progress-bar {
                        background: $ak-color-alternate;
                    }
                }
            }
        }
        .ak-profile-edit-btn {
            color: #6c757d;
        }
        .ak-profile-rating {
            color: #818182;
            span {
                color: #495057;
            }
        }
        .ak-profile-work {
            p {
                color: #818182;
            }
            a {
                color: #495057;
            }
        }
        .ak-profile-tab {
            label {
                font-weight: 600;
            }
            p {
                color: #0062cc;
            }
        }
        .ak-work-experience {
            border-top: 1px solid $ak-color-alternate;
        }
        .ak-publication {
            border-top: 1px solid $ak-color-alternate;
        }
        &.ak-profile-complete { 
            .ak-pro-dashboard {
                background: linear-gradient(to bottom, $ak-color-alternate-bg 0%, $ak-color-alternate-bg 90%, $white 90%, $white 100%);
                @include media-breakpoint-down(xs) {
                    background: $ak-color-alternate-bg;
                }
            }
        }
        .ak-who-card {
            .ak-review-count {
              color: $ak-color-alternate;
            }
            .ak-who-avatar {
              border: 1px solid $ak-color-alternate;
            }
            p.ak-who-title {
              .ak-who-initials {
                color: $ak-color-alternate;
              }
            }
            .ak-profile-stars {
              .fa-star:before {
                  color: $ak-color-alternate;
              }
            }
        }
        .ak-form {

            label {
                &.ak-label-fieldset {
                    &:after {
                        border-bottom: 1px solid $ak-color-alternate;
                    }
                    @include media-breakpoint-down(sm) {
                        border-bottom: 1px solid $ak-color-alternate;
                    } 
                }
                &.ak-dropdown {
                    &:after {
                        background-image: url(../img/icons/ak-iconDropdown-dark-green.svg);
                    }
                }
            }
            .ak-datepicker {
                &:after {
                    background-image: url(../img/icons/ak-iconCalendar-dark-green.svg);
                }
            }
            .toggle-checkbox {
                .checkmark {
                    &:after {
                        color: $ak-color-alternate;
                    }
                }
                &:hover {
                    input {
                        ~ {
                            .checkmark {
                                border-color: $ak-color-alternate;
                            }
                        }
                    }
                }
                input {
                    &:checked {
                        ~ {
                            .checkmark {
                                border: 2px solid $ak-color-alternate;
                            }
                        }
                    }
                }
            }
            .ak-filter-buttons {
                @include media-breakpoint-down(xs) {
                    border-top: 1px solid $ak-green;
                }
                .ak-delete-button {
                    .form-control {
                        background-color: $ak-red;
                        &:hover {
                            background-color: $black;
                        }
                    }
                }
            }
            .ak-spinner {
                span {
                    &.spinner {
                        >.sub {
                            color: $ak-color-alternate;
                        }
                        >.add {
                            color: $ak-color-alternate;
                        }
                    }
                }
            }
        }
    }
}

.rounded-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px;
    object-fit: cover;
    object-position: center right;
    @include media-breakpoint-down(xs) {
        width: 80px;
        height: 80px;
    }
}

.ak-comment-section {
    .rounded-avatar {
        width: 80px;
        height: 80px;
        margin-top: 0;
    }
}

.profile-avatar {
    width: 200px;
    height: 200px;
    border-radius: $form-radius;
    margin: 0 20px;
    object-fit: cover;
    object-position: center right;
    @include media-breakpoint-down(xs) {
        width: 80px;
        height: 80px;
    }
}
