.ak-search-block {
    margin-top: -30px;
    .ak-searchbar {
        margin-bottom: auto;
        margin-top: auto;
        border-radius: $form-radius;
        padding: 0 $spacing-sm;
        background-color: $white;
        box-shadow: $box-shadow;
        min-height: $form-height;
        @include media-breakpoint-down(xs) {
            padding: 0 $spacing-xs;
        }
        .input-group-prepend {
            .input-group-text {
                display: flex;
                align-items: center;
                padding: .375rem .75rem;
                margin: $spacing 0;
                font-size: 1rem;
                font-weight: 600;
                line-height: 1.5;
                color: $ak-green;
                text-align: center;
                white-space: nowrap;
                background-color: transparent;
                border-left: 0;
                border-top: 0;
                border-bottom: 0;
                border-right: 2px solid $ak-green !important;
                border-radius: 0;
            }
        }
        select {     
            &.search-pro {
                -webkit-appearance: none;
                -moz-appearance: none;
                background: transparent;
                background-repeat: no-repeat;
                background-position-x: 100%;
                margin: 5px -10px 5px 0;
                height: 50px;
                background-image: url(../img/icons/ak-iconDropdown.svg);
                @include media-breakpoint-down(xs) {
                    margin: 5px 0;
                    text-overflow: ellipsis;
                    &.form-control {
                        padding-right: $form-height;
                    }
                }
                
            }
        }
        .bootstrap-select {
            &.search-address {
                width: auto !important;
                flex-grow: 1;
                .dropdown-toggle {
                    box-shadow: none;
                    border: 0;
                    border-radius: 0;
                    min-height: $form-height;
                    padding: 0 $spacing-sm;
                    background: none;
                    position: relative;
                    max-width: 100%;
                    &:focus {
                        outline: 0 !important;
                    }
                    &:after {
                        content: "";
                        display: inline-block;
                        background-image: url(../img/icons/ak-iconLocation.svg);
                        background-repeat: no-repeat;
                        position: absolute;
                        right: -10px;
                        width: 50px;
                        height: 50px;
                        border: 0;
                        @include media-breakpoint-down(xs) {
                            right: 0;
                        }
                    }
                }
                .form-control {
                    height: $spacing-xl;
                }
                .dropdown-menu {
                    .dropdown-item {
                        &.active {
                            color: #fff;
                            text-decoration: none;
                            background-color: $black;
                        }
                    }
                }
            }
        }
        .form-control {
            box-shadow: none;
            padding: 0 $spacing-sm;
        }
    }
    .ak-searchbar-youthlib {
        margin-bottom: auto;
        margin-top: auto;
        border-radius: $form-radius;
        padding: 0;
        background-color: $white;
        box-shadow: $box-shadow;
        min-height: $form-height;
        overflow: hidden;
        .input-group-prepend {
            @include media-breakpoint-down(xs) {
                width: 100%;
            }
            .input-group-text {
                display: flex;
                align-items: center;
                padding: .375rem .75rem;
                margin: $spacing 0;
                font-size: 1rem;
                font-weight: 600;
                line-height: 1.5;
                color: $ak-green;
                text-align: center;
                white-space: nowrap;
                background-color: transparent;
                border-left: 0;
                border-top: 0;
                border-bottom: 0;
                border-right: 2px solid $ak-green !important;
                border-radius: 0;
            }
            .youthlib-search-wrapper {
                position: relative;
                margin-bottom: 0 !important;
                min-width: 220px;
                background-color: $ak-accent-color1;
                padding: 0 $spacing-sm;
                border-radius: $form-radius 0 0 $form-radius;
                @include media-breakpoint-down(xs) {
                    width: 100%;
                    border-radius: 0 0 $form-radius $form-radius;
                }
                &:after {
                    content: "";
                    position: absolute;
                    width: $spacing-xxl;
                    height: $spacing-xxl;
                    top: $spacing-xs;
                    right: $spacing-xs;
                    background: 0 0;
                    background-repeat: no-repeat;
                    background-position-x: 100%;
                    background-image: url(../img/icons/ak-iconDropdown-dark-green.svg);
                }
                .youthlib-search-select {
                    background: transparent;
                    color: $ak-color-alternate;
                    font-weight: 700;
                    margin-left: -10px;
                    @include media-breakpoint-down(xs) {
                        font-size: 15px;
                        width: 100%;
                    }
                }
            }
        }
        
        select {     
            &.search-pro {
                -webkit-appearance: none;
                -moz-appearance: none;
                background: transparent;
                background-repeat: no-repeat;
                background-position-x: 100%;
                margin: 5px -10px 5px 0;
                height: 50px;
                background-image: url(../img/icons/ak-iconDropdown.svg);
                @include media-breakpoint-down(xs) {
                    margin: 5px 0;
                    text-overflow: ellipsis;
                    &.form-control {
                        padding-right: $form-height;
                    }
                }
                
            }
        }
        .bootstrap-select {
            &.search-address {
                width: auto !important;
                flex-grow: 1;
                .dropdown-toggle {
                    box-shadow: none;
                    border: 0;
                    border-radius: 0;
                    min-height: $form-height;
                    padding: 0 $spacing-sm;
                    background: none;
                    position: relative;
                    max-width: 100%;
                    &:focus {
                        outline: 0 !important;
                    }
                    &:after {
                        content: "";
                        display: inline-block;
                        background-image: url(../img/icons/ak-iconLocation.svg);
                        background-repeat: no-repeat;
                        position: absolute;
                        right: -10px;
                        width: 50px;
                        height: 50px;
                        border: 0;
                        @include media-breakpoint-down(xs) {
                            right: 0;
                        }
                    }
                }
                .form-control {
                    height: $spacing-xl;
                }
                .dropdown-menu {
                    .dropdown-item {
                        &.active {
                            color: #fff;
                            text-decoration: none;
                            background-color: $black;
                        }
                    }
                }
            }
        }
        .form-control {
            box-shadow: none;
            padding: 0 $spacing-sm;
        }
    }
    .ak-searchbar-blog {
        margin-bottom: auto;
        margin-top: auto;
        border-radius: $form-radius;
        padding: 0;
        background-color: $white;
        box-shadow: $box-shadow;
        min-height: $form-height;
        &:after {
            content: "";
            display: inline-block;
            background-image: url(../img/icons/ak-iconSearch-green-solid.svg);
            background-repeat: no-repeat;
            position: absolute;
            right: $spacing-xs;
            top: $spacing-xs;
            width: 50px;
            height: 50px;
            border: 0;
            z-index: 3;
            @include media-breakpoint-down(xs) {
                right: 0;
            }
        }
    }
    .search-button {
        width: 60px;
        .form-control {
            background-color: $ak-green;
            background-image: url(../img/icons/ak-iconSearch.svg);
            background-size: 50%;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            &:hover {
                background-color: $ak-green-hover;
            }
        }
    }
    .ak-advanced-search {
        @include media-breakpoint-down(xs) {
            padding: $spacing-lg $spacing-sm;
        }
        .ak-filter-link {
            text-align: center;
            padding: $spacing-md 0;
        }
        .ak-filters {
            .nav {
                .nav-item {
                    margin: 0 5px;
                    box-shadow: $box-shadow;
                    border-radius: 30px;
                    padding: 0 !important;
                    background-color: $white;
                    &.active {
                        .nav-link {
                            font-weight: bold;
                            color: $ak-green !important;
                        }
                        &:after {
                            content: "";
                            width:0px;
                            height:0px;
                            border-left:12px solid transparent;
                            border-right:12px solid transparent;
                            border-top:12px solid #fff;
                            position:absolute;
                            bottom:-12px; 
                            left: 50%;
                            margin-left: -12px;
                        }
                        @include media-breakpoint-down(xs) {
                            background-color: $ak-color-main;
                            box-shadow: none;
                            .nav-link {
                                color: $white !important;
                            }
                        }
                    }
                    .nav-link {
                        background: none;
                        padding: $spacing $spacing-sm;
                        color: $ak-body-text !important;
                        font-weight: 400;
                        .fas {
                            text-align: right;
                        }
                    }
                }
            }
            .ak-filter-tab {
                margin-top: $spacing-lg;
                .tab-pane {
                    background-color: $white;
                    box-shadow: $box-shadow;
                    padding: $spacing-md;
                    border-radius: $card-radius;
                    position: relative;
                }
                .ak-filter-form {
                    ul {
                        column-count: 3;
                        column-gap: 2rem;
                        list-style: none;
                        padding-inline-start: 0px;
                        margin: 0;
                        @include media-breakpoint-down(xs) {
                            column-count: 1;
                        }
                    }
                    .form-group {
                        margin-bottom: 0;
                    }
                    fieldset {
                        border-bottom: 1px solid $ak-green;
                        padding: $spacing-sm 0;
                        &:last-child {
                            border-bottom: 0;
                        }
                        .filter-group {
                            text-align: left;
                            font-weight: bold;
                            color: $ak-green;
                            font-size: 22px;
                        }
                    }
                    .ak-filter-option {
                        @include media-breakpoint-up(sm) {
                            margin-right: $spacing;
                            border-right: 1px solid $ak-green;
                            &:last-child {
                                border-right: 0;
                            }
                        }  
                    }
                    .toggle-checkbox {
                        display: flex;
                        align-items: center;
                        justify-content: left;
                        position: relative;
                        padding-left: 35px;
                        margin-bottom: 12px;
                        cursor: pointer;
                        font-size: 15px;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        &.form-control {
                            padding: 0;
                            box-shadow: none;
                            @include media-breakpoint-up(sm) {
                                padding: 0 $spacing-max 0 0;
                            }
                        }
                        &.selected {
                            font-weight: bold;
                        }
                        .checkmark {
                            @include media-breakpoint-up(sm) {
                                right: $spacing-md;
                            }
                            &:after {
                                content: "\f00c";
                                font-family: "FontAwesome";
                                left: $spacing-xs;
                                top: 0;
                                width: $spacing-xs;
                                height: $spacing-sm;
                                color: $ak-green;
                            }
                        }
                        input {
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            height: 0;
                            width: 0;
                        }
                        &:hover {
                            input {
                                ~ {
                                    .checkmark {
                                        border-color: $ak-green;
                                    }
                                }
                            }
                        }
                        input {
                            &:checked {
                                ~ {
                                    .checkmark {
                                        border: 2px solid $ak-green;
                                        &:after {
                                            display: block;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .ak-filter-buttons {
                        border-left: 1px solid $ak-green;
                        padding-left: $spacing-lg;
                        @include media-breakpoint-down(xs) {
                            border-left: 0;
                            border-top: 1px solid $ak-green;
                            padding: $spacing-md 0 0;
                        }
                        .ak-delete-button {
                            .form-control {
                                background-color: $ak-red;
                                // background-image: url(../img/icons/ak-iconDelete.svg);
                                background-size: 40%;
                                background-repeat: no-repeat;
                                background-position: center;
                                &:hover {
                                    background-color: $black;
                                }
                            }
                        }
                    }
                }
            }
            .nav-pills-dropdown {
                @include media-breakpoint-down(xs) {
                  border: 0;
                  border-radius: $form-radius;
                  overflow: hidden;
                  position: relative;
        
                  &:after {
                    content: "☰";
                    position: absolute;
                    top: 8px;
                    right: 15px;
                    z-index: 2;
                    pointer-events: none;
                  }
            
                  &.open {
                    a {
                      position: relative;
                      display: block;
                    }
            
                    > li {
                        margin: $spacing $spacing-xs;
                        &:first-child {
                            margin: 0 $spacing-xs;
                        }
                    }
                  }
            
            
                li {
                  display: block;
                  padding: 0;
                  vertical-align: bottom;
                  &:active {
                    color: $ak-green;
                  }
                }
            
                > li > a {
                  position: absolute;
                  top: 0;
                  left: 0;
                  margin: 0;
                  width: 100%;
                  height: 100%;
                  display: inline-block;
                  border-color: transparent;
            
                  &:focus,
                  &:hover,
                  &:active {
                    border-color: transparent;
                  }
                }
            
                > li.active > a {
                  display:block;
                  border-color: transparent;
                  position: relative;
                  z-index: 1;
                  background: #fff;
            
                  &:focus,
                  &:hover,
                  &:active {
                    border-color: transparent;
                  }
                   
                }
              }
            }
            .ak-filter-reset {
                padding: $spacing-md 0;
                .ak-reset {
                    margin: 0 $spacing-sm;
                    .ak-reset-button {
                        padding-left: 60px;
                        padding-right: $spacing;
                        position: relative;
                        font-size: 15px;
                        &:before {
                            content: "";
                            display: inline-block;
                            background-image: url(../img/icons/ak-iconRefresh.svg);
                            background-repeat: no-repeat;
                            position: absolute;
                            left: 5px;
                            top: 5px;
                            width: 50px;
                            height: 50px;
                            border: 0;
                        }
                    }
                }
                .ak-save-search {
                    .ak-save-icon {
                        &.form-control {
                            background-image: url(../img/icons/ak-iconSave.svg);
                            background-repeat: no-repeat;
                            background-position: center;
                            &:hover {
                                background-color: $black;
                            }
                        }
                    }
                }
            }
        }
    }    
}

.ak-bg-advanced {
    background-color: $ak-accent-color2;
}
