.share-icons {
    font-size: 14px;
    border-radius: $form-radius;
    box-shadow: $box-shadow;
    padding: $spacing;
    margin: $spacing 0;
    vertical-align: middle;
    line-height: 1.2;
    .ak-social-link {
      display: flex;
      align-items: center;
      color: $black !important;
      text-decoration: none;
      font-weight: 400;
      .fab {
        font-size: 32px;
      } 
    }
    &.favorite {
      .icon-favorite {
        display: inline-block;
        height: 32px;
        width: 32px;
        background-color: $black;
        border-radius: $form-radius;
        background-image: url('../img/icons/ak-iconHeart-light.svg');
        background-repeat: no-repeat;
        background-size: 150%;
        background-position: center center;
        &.icon-green {
            background-color: $ak-green;
        }
      }
      .ak-social-link {
        &:hover {
          color: $ak-color-main !important;
          font-weight: 600;
          .icon-favorite {
            background-color: $ak-color-main;
          }
        }
      }
    }
    &.facebook {
      color: #3b5998;
      .fab {
        height: 32px;
        width: 32px;
        font-size: 18px;
        padding: 7px;
        background: #3b5998;
        color: $white;
        border-radius: $form-radius;
      }
      .ak-social-link {
        &:hover {
          color: $ak-color-main !important;
          font-weight: 600;
          .fab {
            background: $ak-color-main;
          }
        }
      }
    }
    &.linkedin {
      color: #0072b1;
      .fab {
        height: 32px;
        width: 32px;
        font-size: 18px;
        padding: 7px;
        background: #0072b1;
        color: $white;
        border-radius: $form-radius;
      }
      .ak-social-link {
        &:hover {
          color: $ak-color-main !important;
          font-weight: 600;
          .fab {
            background: $ak-color-main;
          }
        }
      }
    }
    &.twitter {
      color: 	#1DA1F2;
      .fab {
        height: 32px;
        width: 32px;
        font-size: 18px;
        padding: 7px;
        background: #1DA1F2;
        color: $white;
        border-radius: $form-radius;
      }
      .ak-social-link {
        &:hover {
          color: $ak-color-main !important;
          font-weight: 600;
          .fab {
            background: $ak-color-main;
          }
        }
      }
    }
    .share-icon-text {
      margin-left: $spacing-xs;
      @include media-breakpoint-down(xs) {
        display: none;
      }
    }
  }