// Variables




// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;


$ak-color-main: #DB1E5E;
$ak-color-main-bg: rgba(219, 30, 93, 0.15);

$ak-color-secondary: #A44786;
$ak-color-secondary-bg: rgba(164, 71, 134, 0.15);

$ak-color-alternate: #409EA3;
$ak-color-alternate-bg: rgba(64, 158, 163, 0.15);

$ak-heading-font-family: 'Museo 700', arial, sans-serif;
$ak-font-family: 'Quicksand', arial, sans-serif;

// Primary Brand Colors
$ak-green: #00D3B7;
$ak-pink: #DB1E5E;
$ak-yellow: #FFB100;

// Secondary Brand Colors

$ak-orange: #FF851A;
$ak-red: #FF2C4E;
$ak-purple: #A44786;
$ak-green-hover: #409EA3;

$ak-body-text: #404040;

$ak-accent-color1: #e9f5f3;
$ak-accent-color2: #D4F6F1;
$ak-accent-color3: rgba(219, 30, 93, 0.15);
$ak-accent-color4: rgba(164, 71, 134, 0.15);
$ak-accent-color-purple: rgba(164, 71, 134, 0.15);



$box-shadow: 0px 2px 6px 3px rgba(0, 0, 0, 0.1);

// Buttons
$ak-btn-primary: $black;
$ak-btn-secondary: #00D3B7;
$ak-btn-alternate: #DB1E5E;
$ak-btn-close-bg: #ee8948;

// Spacing

$spacing-xs: 5px;
$spacing: 10px;
$spacing-sm: 15px;
$spacing-md: 20px;
$spacing-lg: 30px;
$spacing-xl: 40px;
$spacing-xxl: 50px;
$spacing-max: 60px;

// Forms 

$form-height: $spacing-max;
$form-radius: $spacing-lg;
$card-radius: $spacing-lg;

$image-bg: #d4f6f1;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1240px
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 750px,
  lg: 980px,
  xl: 1200px
) !default;

@include _assert-ascending($container-max-widths, "$container-max-widths");